<form class="md-float-material form-material" #f="ngForm">
    <div class="auth-box card">
        <div class="card-block">

            <h4 class="sub-title m-t-20">Tipo de documento</h4>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-primary">
                        <select
                            name="afectaciones"
                            id="afectaciones"
                            #afectacion="ngModel"
                            class="form-control"
                            [(ngModel)]="data.id_tipo_afectacion"
                        >
                            <option value="" disabled></option>
                            <option
                                value="{{ afectacion.id }}"
                                *ngFor="let afectacion of afectaciones"
                            >
                                {{ afectacion.nombre }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Tipo de Afectación</label>
                        <small
                            class="text-danger messages block"
                            *ngIf="afectacion.errors?.required"
                        >Campo requerido</small
                        >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-primary">
                        <input
                            type="date"
                            name="origen_fecha_operacion"
                            class="form-control"
                            #origenfechaoperacion="ngModel"
                            [(ngModel)]="data.fecha_operacion"
                            required
                        />
                        <span class="form-bar"></span>
                        <label class="float-label-read-only"
                        >Fecha de operación</label
                        >
                        <small
                            class="text-danger messages block"
                            *ngIf="
                                        origenfechaoperacion.errors?.required
                                    "
                        >Campo requerido</small
                        >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <app-form-field
                            name="monto"
                            label="Monto"
                            type="number"
                            [(model)]="data.monto"
                            [required]="true"
                        ></app-form-field>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <app-form-field
                            name="moneda"
                            label="Tipo de cambio"
                            type="select"
                            [(model)]="data.id_moneda"
                            [options]="divisas"
                            optionLabel="moneda"
                            optionValue="id"
                            [required]="true"
                        ></app-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <app-form-field
                            name="id_forma_pago"
                            label="Forma de pago"
                            type="select"
                            [(model)]="data.id_forma_pago"
                            [options]="formas_pago"
                            optionLabel="descripcion"
                            optionValue="id"
                            [required]="true"
                        ></app-form-field>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <app-form-field
                            name="referencia"
                            label="Referencia"
                            type="text"
                            [(model)]="data.referencia_pago"
                            [pattern]="unsafeCharsPattern"
                        ></app-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-primary">
                        <app-form-field
                            name="descripcion"
                            label="Descripción"
                            type="text"
                            [(model)]="data.descripcion_pago"
                            [pattern]="unsafeCharsPattern"
                        ></app-form-field>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-primary">
                        <app-form-field
                            name="comentarios"
                            label="Comentarios"
                            type="text"
                            [(model)]="data.comentarios"
                            [pattern]="unsafeCharsPattern"
                        ></app-form-field>

                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6">
                    <h4 class="sub-title">Origen</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="origen_entidad"
                                    id="origen_entidad"
                                    #origenentidad="ngModel"
                                    class="form-control"
                                    [(ngModel)]="aux.tipo_origen"
                                    (ngModelChange)="onSwitchEntidad(1)"
                                    required
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ tipo.id }}"
                                        *ngFor="
                                            let tipo of tipos_entidad_financiera
                                        "
                                    >
                                        {{ tipo.tipo }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Entidad</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="origenentidad.errors?.required"
                                >Campo requerido</small
                                >
                            </div>
                        </div>

                        <div
                            class="col-md-10"
                            [hidden]="entidades_origen.length > 0"
                        >
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="origen_entidad_text"
                                    id="origen_entidad_text"
                                    class="form-control"
                                    #origenentidadtext="ngModel"
                                    [(ngModel)]="aux.origen_text"
                                    (keyup.enter)="buscar_entidad(1)"
                                    pattern="[^'&quot;]+$"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                >Escribe tu búsqueda aquí</label
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="origenentidadtext.errors?.required"
                                >Campo requerido</small
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="origenentidadtext.errors?.pattern"
                                >No se permite el caracter ' ó "</small
                                >
                            </div>
                        </div>

                        <div
                            class="col-md-10"
                            [hidden]="entidades_origen.length == 0"
                        >
                            <div class="form-group form-primary">
                                <select
                                    name="origen_cuenta_bancaria"
                                    id="origen_cuenta_bancaria"
                                    #origencuentabancaria="ngModel"
                                    class="form-control"
                                    [(ngModel)]="data.entidad_origen"
                                    required
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ entidad.id }}"
                                        *ngFor="let entidad of entidades_origen"
                                    >
                                        {{ entidad.nombre }} - {{ entidad.clabe }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Entidad</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        origencuentabancaria.errors?.required
                                    "
                                >Campo requerido</small
                                >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                type="button"
                                class="btn btn-info btn-sm btn-block http-disabled"
                                (click)="buscar_entidad(1)"
                            >
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4 class="sub-title">Destino</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="destino_entidad"
                                    id="destino_entidad"
                                    required
                                    #destinoentidad="ngModel"
                                    class="form-control"
                                    [(ngModel)]="aux.tipo_destino"
                                    (ngModelChange)="onSwitchEntidad(2)"

                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ entidad.id }}"
                                        *ngFor="
                                            let entidad of tipos_entidad_financiera
                                        "
                                    >
                                        {{ entidad.tipo }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Entidad</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="destinoentidad.errors?.required"
                                >Campo requerido</small
                                >
                            </div>
                        </div>

                        <div
                            class="col-md-10"
                            [hidden]="entidades_destino.length > 0"
                        >
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="destino_entidad_text"
                                    id="destino_entidad_text"
                                    class="form-control"
                                    #destinoentidadtext="ngModel"
                                    [(ngModel)]="aux.destino_text"
                                    (keyup.enter)="buscar_entidad(2)"
                                    pattern="[^'&quot;]+$"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                >Escribe tu búsqueda aquí</label
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="destinoentidadtext.errors?.required"
                                >Campo requerido</small
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="destinoentidadtext.errors?.pattern"
                                >No se permite el caracter ' ó "</small
                                >
                            </div>
                        </div>

                        <div
                            class="col-md-10"
                            [hidden]="entidades_destino.length == 0"
                        >
                            <div class="form-group form-primary">
                                <select
                                    name="destino_cuenta_bancaria"
                                    id="destino_cuenta_bancaria"
                                    required
                                    #destinocuentabancaria="ngModel"
                                    class="form-control"
                                    [(ngModel)]="data.entidad_destino"
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ entidad.id }}"
                                        *ngFor="
                                            let entidad of entidades_destino
                                        "
                                    >
                                        {{ entidad.nombre }} - {{ entidad.clabe }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Entidad</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        destinocuentabancaria.errors?.required
                                    "
                                >Campo requerido</small
                                >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                type="button"
                                class="btn btn-info btn-sm btn-block http-disabled"
                                (click)="buscar_entidad(2)"
                            >
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button
                    class="btn btn-outline-info btn-block m-t-10"
                    type="button"
                    (click)="generarIngreso()"
                >
                    Generar Ingreso
                </button>
            </div>
        </div>
    </div>
</form>
