<form class="md-float-material form-material" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="empresa"
                                    class="form-control"
                                    [(ngModel)]="empresa"
                                    (change)="onChangeEmpresa()"
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ row.bd }}"
                                        *ngFor="let row of empresas"
                                    >
                                        {{ row.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <h4>Cuentas por pagar</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="m-t-50 center-text">
                                $
                                {{
                                    cuenta_por_pagar.vigente
                                        | number: "1.0":"en-US"
                                }}
                            </h4>
                            <h6 class="center-text vigente">Vigente</h6>
                            <h4 class="center-text m-t-50">
                                $
                                {{
                                    cuenta_por_pagar.vencido
                                        | number: "1.0":"en-US"
                                }}
                            </h4>
                            <h6 class="center-text vencido">Vencido</h6>
                            <h4 class="center-text m-t-50">
                                $
                                {{
                                    cuenta_por_pagar.total
                                        | number: "1.0":"en-US"
                                }}
                            </h4>
                            <h6 class="center-text text-info">Total</h6>
                        </div>

                        <div class="col-md-8">
                            <chart
                                [type]="cuenta_por_pagar.chart_type"
                                [data]="cuenta_por_pagar.chart_data"
                                [options]="cuenta_por_pagar.chart_options"
                            ></chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <h4>Cuentas por cobrar</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="m-t-50 center-text">
                                $
                                {{
                                    cuenta_por_cobrar.vigente
                                        | number: "1.0":"en-US"
                                }}
                            </h4>
                            <h6 class="center-text vigente">Vigente</h6>
                            <h4 class="center-text m-t-50">
                                $
                                {{
                                    cuenta_por_cobrar.vencido
                                        | number: "1.0":"en-US"
                                }}
                            </h4>
                            <h6 class="center-text vencido">Vencido</h6>
                            <h4 class="center-text m-t-50">
                                $
                                {{
                                    cuenta_por_cobrar.total
                                        | number: "1.0":"en-US"
                                }}
                            </h4>
                            <h6 class="center-text text-info">Total</h6>
                        </div>

                        <div class="col-md-8">
                            <chart
                                [type]="cuenta_por_cobrar.chart_type"
                                [data]="cuenta_por_cobrar.chart_data"
                                [options]="cuenta_por_cobrar.chart_options"
                            ></chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row m-t-20">
                        <div
                            class="col-md-10"
                            [hidden]="proveedores.length > 0"
                        >
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="busquedaproveedor"
                                    class="form-control"
                                    #entidadinput="ngModel"
                                    [(ngModel)]="proveedor_busqueda"
                                    (keyup.enter)="buscarEntidad(2)"
                                    [disabled]="!puede_buscar"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Buscar un proveedor</label
                                >
                            </div>
                        </div>

                        <div
                            class="col-md-10"
                            [hidden]="proveedores.length == 0"
                        >
                            <div class="form-group form-primary">
                                <select
                                    name="entidadproveedor"
                                    class="form-control"
                                    [(ngModel)]="proveedor_data.rfc"
                                    (change)="onChangeEntidad(2)"
                                >
                                    <option value="" disabled selected></option>
                                    <option
                                        value="{{ row.rfc }}"
                                        *ngFor="let row of proveedores"
                                    >
                                        {{ row.razon }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Selecciona un proveedor</label
                                >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                type="button"
                                class="
                                    btn btn-outline-primary btn-sm btn-block
                                    http-disabled
                                "
                                (click)="buscarEntidad(2)"
                                placement="top"
                                ngbTooltip="{{
                                    proveedores.length > 0
                                        ? 'Limpiar búsqueda'
                                        : 'Buscar proveedor'
                                }}"
                                [disabled]="!puede_buscar"
                            >
                                <i class="fa fa-search fa-2x"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 m-t-20">
                            <h4>
                                $
                                {{
                                    proveedor_data.total | number: "1.0":"en-US"
                                }}
                            </h4>

                            <table class="table m-t-30">
                                <tbody>
                                    <tr>
                                        <th>Saldo vigente</th>
                                        <td class="text-success no-wrap">
                                            $
                                            {{
                                                proveedor_data.vigente
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>0 a 15 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                proveedor_data.vencido_15_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>15 a 30 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                proveedor_data.vencido_30_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>30 a 45 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                proveedor_data.vencido_45_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>45 a 60 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                proveedor_data.vencido_60_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>60+ Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                proveedor_data.vencido_60_mas_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-8">
                            <chart
                                [type]="proveedor_data.chart_type"
                                [data]="proveedor_data.chart_data"
                                [options]="proveedor_data.chart_options"
                            ></chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row m-t-20">
                        <div class="col-md-10" [hidden]="clientes.length > 0">
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="busquedacliente"
                                    class="form-control"
                                    #entidadinput="ngModel"
                                    [(ngModel)]="cliente_busqueda"
                                    (keyup.enter)="buscarEntidad(1)"
                                    [disabled]="!puede_buscar"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Buscar un cliente</label
                                >
                            </div>
                        </div>

                        <div class="col-md-10" [hidden]="clientes.length == 0">
                            <div class="form-group form-primary">
                                <select
                                    name="entidadcliente"
                                    class="form-control"
                                    [(ngModel)]="cliente_data.rfc"
                                    (change)="onChangeEntidad(1)"
                                >
                                    <option value="" disabled selected></option>
                                    <option
                                        value="{{ row.rfc }}"
                                        *ngFor="let row of clientes"
                                    >
                                        {{ row.nombre_oficial }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Selecciona un cliente</label
                                >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                type="button"
                                class="
                                    btn btn-outline-primary btn-sm btn-block
                                    http-disabled
                                "
                                (click)="buscarEntidad(1)"
                                placement="top"
                                ngbTooltip="{{
                                    clientes.length > 0
                                        ? 'Limpiar búsqueda'
                                        : 'Buscar cliente'
                                }}"
                                [disabled]="!puede_buscar"
                            >
                                <i class="fa fa-search fa-2x"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 m-t-20">
                            <h4>
                                $
                                {{ cliente_data.total | number: "1.0":"en-US" }}
                            </h4>

                            <table class="table m-t-30">
                                <tbody>
                                    <tr>
                                        <th>Saldo vigente</th>
                                        <td class="text-success no-wrap">
                                            $
                                            {{
                                                cliente_data.vigente
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>0 a 15 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                cliente_data.vencido_15_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>15 a 30 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                cliente_data.vencido_30_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>30 a 45 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                cliente_data.vencido_45_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>45 a 60 Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                cliente_data.vencido_60_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>60+ Días</th>
                                        <td class="text-danger no-wrap">
                                            $
                                            {{
                                                cliente_data.vencido_60_mas_dias
                                                    | number: "1.0":"en-US"
                                            }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-8">
                            <chart
                                [type]="cliente_data.chart_type"
                                [data]="cliente_data.chart_data"
                                [options]="cliente_data.chart_options"
                            ></chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
