<div class="row">
    <div class="col-sm-12">
        <form class="md-float-material form-material" #f="ngForm">
            <div class="auth-box card">
                <div class="card-block">
                    <h4 class="sub-title m-t-20">Información de contacto</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="nombrecompleto"
                                    class="form-control"
                                    required
                                    #nombrecompleto="ngModel"
                                    [(ngModel)]="data.nombre"
                                    pattern="[^'&quot;]+$"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Nombre completo</label
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        nombrecompleto.invalid &&
                                        (nombrecompleto.dirty ||
                                            nombrecompleto.touched)
                                    "
                                    >No se permite el caracter ' ó "</small
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="telefono"
                                    class="form-control"
                                    required
                                    #telefono="ngModel"
                                    [(ngModel)]="data.telefono"
                                    pattern="^[0-9]+$"
                                    maxlength="10"
                                    minlength="10"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Télefono / celular</label
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        telefono.invalid &&
                                        (telefono.dirty || telefono.touched)
                                    "
                                    >Sólo se permiten números</small
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="email"
                                    email
                                    name="correoelectronico"
                                    required
                                    class="form-control"
                                    #correoelectronico="ngModel"
                                    [(ngModel)]="data.correo"
                                    pattern="[^'&quot;]+$"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">E-mail</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        correoelectronico.invalid &&
                                        (correoelectronico.dirty ||
                                            correoelectronico.touched)
                                    "
                                    >Correo invalido</small
                                >
                            </div>
                        </div>
                    </div>

                    <h4 class="sub-title m-t-20">Productos</h4>

                    <div class="row m-t-20">
                        <div class="col-md-8">
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="productoinput"
                                    class="form-control"
                                    #productoinput="ngModel"
                                    [(ngModel)]="producto.producto"
                                    pattern="[^'&quot;]+$"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Producto</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        productoinput.invalid &&
                                        (productoinput.dirty ||
                                            productoinput.touched)
                                    "
                                    >No se permite el caracter ' ó "</small
                                >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group form-primary">
                                <input
                                    type="number"
                                    name="cantidad"
                                    class="form-control"
                                    #cantidad="ngModel"
                                    [(ngModel)]="producto.cantidad"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Cantidad</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                class="btn btn-info btn-sm http-disabled"
                                (click)="agregarProducto()"
                                [disabled]="
                                    producto.cantidad < 1 ||
                                    producto.producto == ''
                                "
                            >
                                Agregar producto
                            </button>
                        </div>

                        <div class="col-md-12 m-t-20">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let producto of data.productos;
                                            let index = index
                                        "
                                    >
                                        <td>{{ producto.producto }}</td>
                                        <td>{{ producto.cantidad }}</td>
                                        <td>
                                            <button
                                                class="btn btn-info btn-sm btn-block"
                                                (click)="
                                                    data.productos.splice(
                                                        index,
                                                        1
                                                    )
                                                "
                                            >
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h4 class="sub-title m-t-20">Asignación de personal</h4>

                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="tecnico"
                                    id="tecnico"
                                    required
                                    class="form-control"
                                    [(ngModel)]="data.tecnico"
                                >
                                    <option value="" disabled selected></option>
                                    <option
                                        value="{{ tecnico.id }}"
                                        *ngFor="let tecnico of tecnicos"
                                    >
                                        {{ tecnico.nombre }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Técnico</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="seguimiento.errors?.required"
                                    >Campo requerido</small
                                >
                            </div>
                        </div>
                    </div>

                    <h4 class="sub-title m-t-20">Seguimiento</h4>

                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <app-new-editor
                                name="seguimiento"
                                required
                                #seguimiento="ngModel"
                                [(ngModel)]="data.seguimiento"
                            >
                            </app-new-editor>
                            <!-- <editor
                            apiKey="00wo1cmzq03pblsrojuv3g3zt1a72qdp3x7b5cnoflew1n14"
                            name="seguimiento"
                                required
                                #seguimiento="ngModel"
                                [(ngModel)]="data.seguimiento"
                                [init]="tinymce_init">
                            </editor> -->
                            <small
                                class="text-danger messages block"
                                *ngIf="seguimiento.errors?.required"
                                >Campo requerido</small
                            >
                        </div>
                    </div>

                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <button
                                type="button"
                                class="btn btn-primary btn-sm btn-block m-b-20 http-disabled"
                                [disabled]="!f.valid"
                                (click)="crearDocumento($event)"
                            >
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end of col-sm-12 -->
</div>
