<!--suppress JSUnusedLocalSymbols -->
<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material mt-10">
            <div class="row" [hidden]="empresas_usuario.length < 2">
                <div class="col-md-10">
                    <div class="form-group form-primary">
                        <select
                            name="empresa"
                            id="empresa"
                            required
                            #empresaselect="ngModel"
                            class="form-control"
                            [(ngModel)]="empresa"
                            (change)="obtenerCuentas()"
                        >
                            <option value="" disabled></option>
                            <option
                                value="{{ empresa.id }}"
                                *ngFor="let empresa of empresas"
                            >
                                {{ empresa.empresa }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Empresa</label>
                        <small
                            class="text-danger messages block"
                            *ngIf="empresaselect.errors?.required"
                            >Campo requerido</small
                        >
                    </div>
                </div>

                <div class="col-md-2">
                    <button
                        class="btn btn-info btn-sm float-right m-t-10 http-disabled"
                        (click)="sincronizarCuentas()"
                    >
                        Sincronizar cuentas
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table
                    class="table table-striped"
                    id="contabilidad_ingreso_cuenta"
                >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cuenta</th>
                            <th>Moneda</th>
                            <th>Saldo inicial</th>
                            <th>Fecha de importación</th>
                            <th>Ult. actualización</th>
                            <th>Ult. concilación</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cuenta of cuentas">
                            <td>{{ cuenta.cuenta }}</td>
                            <td>{{ cuenta.descripcion }}</td>
                            <td>{{ cuenta.moneda }}</td>
                            <td>$ {{ commaNumber(cuenta.saldo_inicial) }}</td>
                            <td>{{ cuenta.created_at }}</td>
                            <td>{{ cuenta.updated_at }}</td>
                            <td>{{ cuenta.fecha_conciliacion }}</td>
                            <td>
                                <button
                                    class="btn btn-info btn-sm"
                                    (click)="
                                        estadoCuenta(
                                            cuenta.cuenta,
                                            modalestadocuenta
                                        )
                                    "
                                >
                                    Edo. Cuenta
                                </button>
                            </td>
                            <td>
                                <button
                                    class="btn btn-info btn-sm"
                                    (click)="
                                        modificarCuenta(
                                            cuenta.id,
                                            modalmodificar
                                        )
                                    "
                                    [disabled]="cuenta.saldo_inicial > 0"
                                >
                                    Modificar
                                </button>
                            </td>
                            <td>
                                <button
                                    class="btn btn-info btn-sm"
                                    (click)="
                                        conciliarCuenta(
                                            cuenta.id,
                                            modalconciliar
                                        )
                                    "
                                >
                                    Conciliaciones
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #modalmodificar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Modificar cuenta (Solo CRM)</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-primary">
                        <input
                            type="text"
                            class="form-control"
                            name="cuenta_descripcion"
                            #cuentadescripcion="ngModel"
                            [(ngModel)]="cuenta.descripcion"
                            pattern="[^'&quot;]+$"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Cuenta</label>
                        <small
                            class="text-danger messages block"
                            *ngIf="cuentadescripcion.errors?.pattern"
                            >No se permite el caracter ' ó "</small
                        >
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group form-primary">
                        <input
                            type="number"
                            class="form-control"
                            name="cuenta_saldo"
                            [(ngModel)]="cuenta.saldo_inicial"
                            min="0"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Saldo</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <button
                        class="btn btn-info btn-sm btn-block http-disabled"
                        (click)="actualizarCuenta()"
                    >
                        Actualizar cuenta
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #modalconciliar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Crear conciliación de una cuenta</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal_conciliacion"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group form-primary">
                        <input
                            type="date"
                            class="form-control"
                            name="fecha_conciliacion"
                            [(ngModel)]="conciliacion.fecha"
                            max="{{ today() }}"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <button
                        class="btn btn-info btn-sm m-t-10"
                        (click)="conciliarDia(modaltoken)"
                        [disabled]="conciliacion.fecha == ''"
                    >
                        Conciliar día
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #modalestadocuenta let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Estado de cuenta</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal_estado"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group form-primary">
                        <input
                            type="date"
                            class="form-control"
                            name="fecha_inicio_estado"
                            [(ngModel)]="estado_cuenta.fecha_inicial"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha de inicio</label>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group form-primary">
                        <input
                            type="date"
                            class="form-control"
                            name="fecha_final_estado"
                            [(ngModel)]="estado_cuenta.fecha_final"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha final</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <button
                        class="btn btn-info btn-sm m-t-10 http-disabled"
                        (click)="generarEstadoCuenta()"
                        [disabled]="
                            estado_cuenta.fecha_inicial == '' ||
                            estado_cuenta.fecha_final == ''
                        "
                    >
                        Generar reporte
                    </button>
                </div>
            </div>

            <h4 class="sub-title m-t-20">
                <b>Saldo inicial: </b>$
                {{ commaNumber(estado_cuenta.saldo_inicial | number: "1.2-2") }}
            </h4>
            <h4 class="sub-title">
                <b>Saldo final: </b>$
                {{ commaNumber(estado_cuenta.saldo_final | number: "1.2-2") }}
            </h4>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <table
                        class="table table-striped"
                        id="contabilidad_ingreso_cuenta_movimiento"
                    >
                        <thead>
                            <tr>
                                <th>Folio (Operación)</th>
                                <th>Tipo</th>
                                <th>Descripcion</th>
                                <th>Monto</th>
                                <th>Referencia</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let documento of estado_cuenta.movimientos
                                "
                            >
                                <td>{{ documento.operacion }}</td>
                                <td>{{ documento.modulo }}</td>
                                <td>{{ documento.descripcion }}</td>
                                <td>$ {{ commaNumber(documento.monto) }}</td>
                                <td>{{ documento.referencia }}</td>
                                <td>{{ documento.fecha }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #modaltoken let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Autorización requerida</h4>

        <button (click)="d('Cross click')" aria-label="Close" class="close" id="cerrar_modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <form (ngSubmit)="desconciliarDia()" class="md-float-material form-material mt-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-primary">
                        <select
                            name="usuario"
                            id="usuario"
                            class="form-control"
                            required
                            [(ngModel)]="whats.usuario"
                        >
                            <option value="" disabled></option>
                            <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                                {{ usuario.nombre }} - {{ usuario.nivel }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Usuario</label>
                    </div>
                    <button
                        (click)="enviarCodigoWhatsApp()"
                        [disabled]="isTimerActive"
                        class="btn btn-outline-info btn-block mt-2"
                        type="button"
                    >
                        {{ isTimerActive ? ('Reenviar en ' + timer + 's') : 'Enviar código' }}
                    </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group form-primary">
                        <input
                            type="text"
                            name="token"
                            id="token"
                            [(ngModel)]="whats.token"
                            class="form-control"
                            pattern="^[0-9]+$"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Token</label>
                    </div>
                    <button class="btn btn-outline-success btn-block mt-2" type="submit">
                        Validar token
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
