.verde {
    background-color: #2cda4e;
}

.amarillo {
    background-color: #d2da2c;
}

.rojo {
    background-color: #f36868;
}

.no-margin {
    margin: 0;
}

.no-wrap {
    white-space: nowrap;
}
