<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material m-t-10" autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="empresa"
                                    class="form-control"
                                    [(ngModel)]="data.empresa"
                                    required
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ empresa.bd }}"
                                        *ngFor="let empresa of empresas"
                                    >
                                        {{ empresa.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_inicial"
                                    [(ngModel)]="data.fecha_inicial"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Fecha de inicio</label
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_final"
                                    [(ngModel)]="data.fecha_final"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha final</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                type="button"
                                class="btn btn-outline-primary btn-sm btn-block http-disabled"
                                (click)="generarReporte()"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-file-alt fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <tbody>
                            <tr
                                placement="top"
                                ngbTooltip="Descargar detalle"
                                class="cursor-pointer"
                                (click)="descargarDetalle(3)"
                            >
                                <th>Compras</th>
                                <th></th>
                                <td>
                                    $ {{ commaNumber(informacion.compras) }}
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid">
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr
                                placement="top"
                                ngbTooltip="Descargar detalle"
                                class="cursor-pointer"
                                (click)="descargarDetalle(1)"
                            >
                                <th>Facturas</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Timbrado</td>
                                <td>
                                    <tr>
                                        <th>Producto</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.facturas
                                                        .timbradas.producto
                                                )
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Servicio</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.facturas
                                                        .timbradas.servicio
                                                )
                                            }}
                                        </td>
                                    </tr>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Por timbrar</td>
                                <td>
                                    <tr>
                                        <th>Producto</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.facturas
                                                        .por_timbrar.producto
                                                )
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Servicio</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.facturas
                                                        .por_timbrar.servicio
                                                )
                                            }}
                                        </td>
                                    </tr>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid">
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr
                                placement="top"
                                ngbTooltip="Descargar detalle"
                                class="cursor-pointer"
                                (click)="descargarDetalle(2)"
                            >
                                <th>Notas de credito</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Timbrado</td>
                                <td>
                                    <tr>
                                        <th>Producto</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.notas.timbradas
                                                        .producto
                                                )
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Servicio</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.notas.timbradas
                                                        .servicio
                                                )
                                            }}
                                        </td>
                                    </tr>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Por timbrar</td>
                                <td>
                                    <tr>
                                        <th>Producto</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.notas
                                                        .por_timbrar.producto
                                                )
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Servicio</th>
                                        <td>
                                            $
                                            {{
                                                commaNumber(
                                                    informacion.notas
                                                        .por_timbrar.servicio
                                                )
                                            }}
                                        </td>
                                    </tr>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid">
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <ng-container
                                *ngFor="let row of informacion.titulos"
                            >
                                <tr>
                                    <th>{{ row.titulo }}</th>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Timbrado</td>
                                    <td>$ {{ commaNumber(row.timbrado) }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Por timbrar</td>
                                    <td>
                                        $ {{ commaNumber(row.por_timbrar) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Costo</td>
                                    <td>$ {{ commaNumber(row.costo) }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>Utilidad</td>
                                    <td>{{ commaNumber(row.utilidad) }} %</td>
                                </tr>
                                <tr style="border-bottom: 1px solid">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
