<div class="card">
    <div class="card-body">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-4">
                    <div class="form-group form-primary">
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="data.uuid"
                            name="uuid"
                            placeholder="UUID de factura global"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">UUID</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group form-primary">
                        <input
                            type="file"
                            class="form-control"
                            id="cargar_archivo"
                            name="cargar_archivo"
                            (change)="cargarArchivoExcel()"
                            multiple
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Excel</label>
                    </div>
                </div>
                <div class="col-4">
                    <a
                        href="assets/files/GlobalizarExcel.xlsx"
                        class="btn btn-outline-info btn-sm btn-block"
                        placement="top"
                        ngbTooltip="Descargar template"
                        download
                    >
                        Plantilla <i class="fa fa-download"></i>
                    </a>
                </div>

            </div>

            <button
                class="btn btn-outline-info btn-block m-t-10"
                type="button"
                (click)="procesar()"
            >
                Procesar
            </button>
        </form>
    </div>
</div>
