<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material m-t-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="empresa"
                                    class="form-control"
                                    [(ngModel)]="busqueda.empresa"
                                >
                                    <option value="" selected></option>
                                    <option
                                        value="{{ row.id }}"
                                        *ngFor="let row of empresas"
                                    >
                                        {{ row.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="categoria"
                                    class="form-control"
                                    [(ngModel)]="busqueda.categoria"
                                >
                                    <option value="" selected></option>
                                    <option
                                        value="{{ row.cat1 }}"
                                        *ngFor="let row of categorias"
                                    >
                                        {{ row.cat1 }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Categoría</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="categoria"
                                    class="form-control"
                                    [(ngModel)]="busqueda.subcategoria"
                                >
                                    <option value="" selected></option>
                                    <option
                                        value="{{ row.cat3 }}"
                                        *ngFor="let row of subcategorias"
                                    >
                                        {{ row.cat3 }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Subcategoría</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="categoria"
                                    class="form-control"
                                    [(ngModel)]="busqueda.marca"
                                >
                                    <option value="" disabled selected></option>
                                    <option
                                        value="{{ row.cat2 }}"
                                        *ngFor="let row of marcas"
                                    >
                                        {{ row.cat2 }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Marca</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_inicio"
                                    [(ngModel)]="busqueda.fecha_inicial"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Fecha de inicio</label
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_final"
                                    [(ngModel)]="busqueda.fecha_final"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha final</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                class="btn btn-sm btn-block btn-outline-info http-disabled"
                                (click)="generarReporte()"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-search fa-2x"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                class="btn btn-sm btn-block btn-outline-info http-disabled"
                                (click)="descargarReporte()"
                                [disabled]="excel.data == ''"
                                placement="top"
                                ngbTooltip="Descargar reporte"
                            >
                                <i class="fa fa-file-download fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <table
            class="table table-striped"
            id="general_reporte_venta_productos_categoria"
        >
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Ventas</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of productos">
                    <td>{{ row.sku }}</td>
                    <td>{{ row.descripcion }}</td>
                    <td>{{ row.ventas }}</td>
                    <td>$ {{ commaNumber(row.total) }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>Total</td>
                    <td>$ {{ commaNumber(totalDocumento()) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
