<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material m-t-10">
            <h4 class="sub-title">Área y Marketplace</h4>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <select
                            name="item-area"
                            id="item-area"
                            #itemarea="ngModel"
                            class="form-control"
                            (change)="onChangeArea()"
                            [(ngModel)]="data.area"
                            required
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ area.id }}"
                                *ngFor="let area of areas"
                            >
                                {{ area.area }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Área</label>
                        <small
                            class="text-danger messages block"
                            *ngIf="
                                itemarea.invalid &&
                                (itemarea.dirty || itemarea.touched) &&
                                itemarea.errors?.required
                            "
                            >Campo requerido</small
                        >
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <select
                            name="item-marketplace"
                            id="item-marketplace"
                            #itemmarketplace="ngModel"
                            class="form-control"
                            [(ngModel)]="data.marketplace"
                            (change)="onChangeMarketplace()"
                            required
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ marketplace.marketplace }}"
                                *ngFor="let marketplace of marketplaces"
                            >
                                {{ marketplace.marketplace }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Marketplace</label>
                        <small
                            class="text-danger messages block"
                            *ngIf="
                                itemmarketplace.invalid &&
                                (itemmarketplace.dirty ||
                                    itemmarketplace.touched) &&
                                itemmarketplace.errors?.required
                            "
                            >Campo requerido</small
                        >
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <button
                            class="btn btn-info btn-block"
                            (click)="activarMarketplace($event, 1)"
                        >
                            Activar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div class="card-block table-responsive">
            <div class="row">
                <div class="col-md-6">
                    <table
                        class="table table-striped"
                        id="marketplaces_autorizados"
                    >
                        <thead>
                            <tr>
                                <th>Area</th>
                                <th>Marketpalce</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let marketplace of marketplace_autorizados
                                "
                            >
                                <td>{{ marketplace.area }}</td>
                                <td>
                                    {{ marketplace.marketplace }}
                                </td>
                                <td>
                                    <button
                                        class="btn btn-danger btn-block"
                                        (click)="
                                            desactivarMarketplace(
                                                marketplace.id_marketplace_area,
                                                2
                                            )
                                        "
                                    >
                                        Desactivar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
