<form class="md-float-material form-material">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="afectaciones"
                                    id="afectaciones"
                                    #afectacion="ngModel"
                                    class="form-control"
                                    [(ngModel)]="data.id_tipo_afectacion"
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ afectacion.id }}"
                                        *ngFor="let afectacion of afectaciones"
                                    >
                                        {{ afectacion.nombre }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Tipo de Afectación</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="afectacion.errors?.required"
                                >Campo requerido</small
                                >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group form-primary">
                                <select
                                    name="entidad"
                                    id="entidad"
                                    class="form-control"
                                    [(ngModel)]="data.id_entidad"
                                >
                                    <option value=""></option>
                                    <option
                                        value="{{ entidad.id }}"
                                        *ngFor="let entidad of entidades_financieras"
                                    >
                                        {{ entidad.nombre }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Entidad</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                type="button"
                                class="
                                    btn btn-primary btn-sm btn-block
                                    http-disabled
                                "
                                (click)="cambiarEntidad()"
                                placement="top"
                                ngbTooltip="Buscar entidad"
                            >
                                <i class="fa fa-search fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table
                        class="table table-striped"
                        id="contabilidad_ingreso_eliminar"
                    >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Moneda</th>
                            <th>T.C</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of movimientos">
                            <td>{{ row.id }}</td>
                            <td>{{ row.descripcion_pago }}</td>
                            <td>{{ row.nombre_entidad_origen }}</td>
                            <td>{{ row.nombre_entidad_destino }}</td>
                            <td>{{ row.moneda }}</td>
                            <td>$ {{ row.tipo_cambio }}</td>
                            <td>$ {{ commaNumber(row.monto) }}</td>
                            <td>{{ row.fecha_operacion }}</td>
                            <td>
                                <button
                                    type="button"
                                    class="
                                            btn btn-outline-danger btn-block
                                            http-disabled
                                        "
                                    placement="top"
                                    ngbTooltip="Eliminar movimiento"
                                    (click)="eliminarMovimiento(row.id)"
                                >
                                    <i class="fa fa-2x fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
