<!--suppress JSUnusedLocalSymbols, JSUnusedGlobalSymbols -->
<div class="card">
    <!-- <button class="btn btn-block btn-danger" (click)="getData()">DATA</button> -->
    <div class="card-block table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table
                    class="table table-striped"
                    id="soporte_garantia_devolucion_devolucion_pendiente"
                >
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Marketplace</th>
                            <th>Cliente</th>
                            <th>Paquetería</th>
                            <th>Vendedor</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of ventas">
                            <td>
                                <button
                                    class="btn btn-info btn-sm"
                                    (click)="detalleVenta(modalventa, venta.id)"
                                >
                                    {{
                                        venta.id +
                                            " - " +
                                            venta.documento_garantia
                                    }}
                                </button>
                            </td>
                            <td>
                                {{ venta.marketplace + " / " + venta.area }}
                            </td>
                            <td>{{ venta.cliente }}</td>
                            <td>{{ venta.paqueteria }}</td>
                            <td>{{ venta.usuario }}</td>
                            <td>{{ venta.created_at }}</td>
                            <td>
                                <button
                                    class="btn btn-outline-danger btn-sm btn-block"
                                    (click)="eliminarDocumento(venta)"
                                >
                                    <i class="fa fa-trash fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #modalventa let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Informacion de la venta</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Documento</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ data.documento }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Marketplace</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ data.marketplace + " / " + data.area }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Paquetería</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ data.paqueteria }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Cliente</label>
                <div class="col-sm-10 inline-block">
                    <h5>- {{ data.cliente }}</h5>
                    <h5>- {{ data.rfc }}</h5>
                    <h5>- {{ data.correo }}</h5>
                    <h5>- {{ data.telefono }}</h5>
                    <h5>- {{ data.telefono_alt }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Asignar Técnico</label>
                <div class="col-sm-10 inline-block">
                    <form class="md-float-material form-material">
                        <div class="row m-t-20">
                            <div class="col-md-12">
                                <div class="form-group form-primary">
                                    <select
                                        name="tecnico"
                                        id="tecnico"
                                        class="form-control"
                                        required
                                        #tecnico="ngModel"
                                        [(ngModel)]="final_data.tecnico"
                                    >
                                        <option
                                            value=""
                                            disabled
                                            selected
                                        ></option>
                                        <option
                                            value="{{ tecnico.id }}"
                                            *ngFor="let tecnico of tecnicos"
                                        >
                                            {{ tecnico.nombre }}
                                        </option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Técnico</label>
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="tecnico.errors?.required"
                                        >Campo requerido</small
                                    >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Productos</label>
                <div class="col-sm-10 inline-block table-responsive">
                    <table class="table table-striped m-t-10">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Series</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of final_data.productos">
                                <td>{{ producto.sku }}</td>
                                <td>{{ producto.descripcion }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-danger btn-sm"
                                        (click)="
                                            agregarSeries(
                                                modalserie,
                                                producto.sku
                                            )
                                        "
                                    >
                                        Agregar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2"
                    >Información del paquete</label
                >
                <div class="col-sm-10 inline-block">
                    <form class="md-float-material form-material" #f="ngForm">
                        <div class="row m-t-20">
                            <div class="col-md-6">
                                <div class="form-group form-primary">
                                    <input
                                        type="text"
                                        name="guia"
                                        class="form-control"
                                        required
                                        #guia="ngModel"
                                        [(ngModel)]="final_data.guia"
                                        pattern="[^'&quot;]+$"
                                    />
                                    <span class="form-bar"></span>
                                    <label class="float-label">Guía</label>
                                    <small
                                        class="text-danger messages"
                                        *ngIf="
                                            guia.invalid &&
                                            (guia.dirty || guia.touched)
                                        "
                                        >No se permite el caracter ' ó "</small
                                    >
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="guia.errors?.required"
                                        >Campo requerido</small
                                    >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-primary">
                                    <select
                                        name="paqueteria"
                                        id="paqueteria"
                                        class="form-control"
                                        required
                                        #paqueteria="ngModel"
                                        [(ngModel)]="final_data.paqueteria"
                                    >
                                        <option
                                            value=""
                                            disabled
                                            selected
                                        ></option>
                                        <option
                                            value="{{ paqueteria.id }}"
                                            *ngFor="
                                                let paqueteria of paqueterias
                                            "
                                        >
                                            {{ paqueteria.paqueteria }}
                                        </option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Paquetería</label
                                    >
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="paqueteria.errors?.required"
                                        >Campo requerido</small
                                    >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Seguimiento</label>
                <div class="col-sm-10 inline-block">
                    <app-new-editor
                        class="m-t-20"
                        name="seguimiento"
                        [(ngModel)]="final_data.seguimiento"
                    >
                    </app-new-editor>

                    <h4 class="sub-title m-t-20">
                        Seguimiento de la devolucion
                    </h4>

                    <div
                        *ngFor="let seguimiento of data.seguimiento_garantia"
                        class="m-t-20 m-b-20"
                    >
                        <div class="media chat-messages">
                            <div class="media-body chat-menu-content">
                                <div class="">
                                    <p class="chat-cont">
                                        {{
                                            seguimiento.nombre +
                                                " - " +
                                                seguimiento.created_at
                                        }}
                                    </p>
                                    <p
                                        class="chat-cont"
                                        [innerHTML]="seguimiento.seguimiento"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="sub-title m-t-20">Seguimiento de la venta</h4>

                    <div
                        *ngFor="let seguimiento of data.seguimiento_venta"
                        class="m-t-20 m-b-20"
                    >
                        <div class="media chat-messages">
                            <div class="media-body chat-menu-content">
                                <div class="">
                                    <p class="chat-cont">
                                        {{
                                            seguimiento.nombre +
                                                " - " +
                                                seguimiento.created_at
                                        }}
                                    </p>
                                    <p
                                        class="chat-cont"
                                        [innerHTML]="seguimiento.seguimiento"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Archivos</label>
                <div class="col-sm-10 inline-block">
                    <input
                        type="file"
                        class="form-control ngb-drop-zone text-center ripple light m-t-10"
                        id="archivos"
                        (change)="agregarArchivo()"
                        multiple
                    />

                    <hr />

                    <ul class="m-t-10" *ngIf="data.archivos.length > 0">
                        <li *ngFor="let archivo of data.archivos">
                            <i class="fa fa-{{ archivo.icon }}"></i>
                            <span
                                class="text-muted"
                                (click)="verArchivo(archivo.dropbox)"
                                style="cursor: pointer"
                                >{{ archivo.archivo }}</span
                            >
                        </li>
                    </ul>
                    <h5 *ngIf="data.archivos.length == 0">Sin archivos</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Motivo</label>
                <div class="col-sm-10 inline-block">
                    <form class="md-float-material form-material">
                        <div class="row">
                            <div class="col-md-12 m-t-10">
                                <div class="form-group form-primary">
                                    <select
                                        name="causadocumento"
                                        id="causadocumento"
                                        class="form-control"
                                        [(ngModel)]="final_data.causa"
                                    >
                                        <option
                                            value=""
                                            disabled
                                            selected
                                        ></option>
                                        <option
                                            value="{{ causa.id }}"
                                            *ngFor="
                                                let causa of causas_documento
                                            "
                                        >
                                            {{ causa.causa }}
                                        </option>
                                    </select>
                                    <span class="form-bar"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Terminar</label>
                <div class="col-sm-10 inline-block">
                    <ui-switch
                        class="js-single"
                        color="#4680ff"
                        switchColor="#fff"
                        size="medium"
                        name="terminar"
                        id="terminar"
                        [(ngModel)]="final_data.terminar"
                    ></ui-switch>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">&nbsp;</label>
                <button
                    class="btn btn-sm btn-block btn-info http-disabled"
                    style="margin: 10px"
                    (click)="guardarDocumento()"
                    [disabled]="final_data.seguimiento == ''"
                >
                    Continuar
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalserie let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Series</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal_serie"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="float-label ol-form-label col-sm-2">Serie</label>
                <div class="col-sm-10 inline-block">
                    <div class="row">
                        <div class="col-md-10">
                            <input
                                type="text"
                                id="serie"
                                name="serie"
                                class="form-control"
                                [(ngModel)]="data.serie"
                                (keyup.enter)="agregarSerie()"
                            />
                        </div>
                        <div class="col-md-2">
                            <button
                                class="btn btn-sm btn-info"
                                (click)="agregarSerie()"
                                [disabled]="data.serie == ''"
                            >
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Series</label>
                <div class="col-sm-10 inline-block">
                    <ul class="list-group m-b-20" id="ul_series">
                        <li
                            class="list-group-item"
                            *ngFor="let serie of data.series"
                        >
                            {{ serie }}
                            <span
                                class="badge"
                                style="cursor: pointer; float: right"
                                (click)="eliminarSerie(serie)"
                                >X</span
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Series</label>
                <div class="col-sm-10 inline-block">
                    <button
                        class="btn btn-sm btn-info btn-block m-t-10 m-b-10 http-disabled"
                        (click)="confirmarSeries()"
                        id="button_confirmar_series"
                    >
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
