<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material m-t-10" autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12" [hidden]="empresas.length == 1">
                            <div class="form-group form-primary">
                                <select
                                    name="empresa"
                                    id="empresa"
                                    required
                                    #empresa="ngModel"
                                    class="form-control"
                                    [(ngModel)]="data.empresa"
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ empresa.bd }}"
                                        *ngFor="let empresa of empresas"
                                    >
                                        {{ empresa.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="empresa.errors?.required"
                                    >Campo requerido</small
                                >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10" [hidden]="entidades.length > 0">
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="entidad_input"
                                    class="form-control"
                                    #entidadinput="ngModel"
                                    [(ngModel)]="data.entidad.input"
                                    pattern="[^'&quot;]+$"
                                    (keyup.enter)="buscarEntidad()"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Buscar entidad</label
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        entidadinput.invalid &&
                                        (entidadinput.dirty ||
                                            entidadinput.touched)
                                    "
                                    >No se permite el caracter ' ó "</small
                                >
                            </div>
                        </div>

                        <div class="col-md-10" [hidden]="entidades.length == 0">
                            <div class="form-group form-primary">
                                <select
                                    name="select_entidad"
                                    id="select_entidad"
                                    class="form-control"
                                    #selectentidad="ngModel"
                                    [(ngModel)]="data.entidad.select"
                                >
                                    <option value="" disabled selected></option>
                                    <option
                                        value="{{ entidad.rfc }}"
                                        *ngFor="let entidad of entidades"
                                    >
                                        {{ entidad.razon_social }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Entidad</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="selectentidad.errors?.required"
                                    >Campo requerido</small
                                >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button
                                type="button"
                                class="btn btn-primary btn-sm btn-block http-disabled"
                                id="button_buscar"
                                (click)="buscarEntidad()"
                                placement="top"
                                ngbTooltip="Buscar cliente"
                            >
                                <i class="fa fa-search fa-2x"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_inicial"
                                    [(ngModel)]="data.fecha_inicial"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Fecha de inicio</label
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_final"
                                    [(ngModel)]="data.fecha_final"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha final</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                type="button"
                                class="btn btn-outline-primary btn-sm btn-block http-disabled"
                                (click)="generarReporte()"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-file-alt fa-2x"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                type="button"
                                class="btn btn-outline-primary btn-sm btn-block http-disabled"
                                (click)="generarEstadoCuenta()"
                                placement="top"
                                ngbTooltip="Generar estado de cuenta"
                            >
                                <i class="fa fa-dollar fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th style="color: blue">
                                    {{ data.entidad.razon }}
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Total facturado</th>
                                <td>
                                    $
                                    {{ commaNumber(facturas.total_facturado) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Total NC</th>
                                <td>
                                    $
                                    {{
                                        commaNumber(
                                            facturas.total_notas_credito
                                        )
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Facturas por vencer</th>
                                <td>
                                    $
                                    {{ commaNumber(facturas.total_por_vencer) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Facturas vencidas</th>
                                <td>
                                    $ {{ commaNumber(facturas.total_vencidas) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
