<div class="card">
    <div class="card-body">
        <form class="md-float-material form-material m-t-10">
            <div class="md-tabs">
                <ngb-tabset (tabChange)="onChangeTab($event.nextId)" #tabs>
                    <ngb-tab id="tab-ingresos">
                        <ng-template ngbTabTitle>
                            <h5>Ingresos</h5>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate] class="m-t-50">
                                <form class="md-float-material form-material">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-primary"
                                                    >
                                                        <input
                                                            type="date"
                                                            class="form-control"
                                                            name="fecha_inicio"
                                                            [(ngModel)]="
                                                                busqueda.fecha_inicio
                                                            "
                                                        />
                                                        <span
                                                            class="form-bar"
                                                        ></span>
                                                        <label
                                                            class="float-label"
                                                            >Fecha de
                                                            inicio</label
                                                        >
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-primary"
                                                    >
                                                        <input
                                                            type="date"
                                                            class="form-control"
                                                            name="fecha_final"
                                                            [(ngModel)]="
                                                                busqueda.fecha_final
                                                            "
                                                        />
                                                        <span
                                                            class="form-bar"
                                                        ></span>
                                                        <label
                                                            class="float-label"
                                                            >Fecha final</label
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row m-t-10">
                                                <div class="col-md-12">
                                                    <button
                                                        class="btn btn-sm btn-block btn-outline-info http-disabled"
                                                        id="generar_reporte"
                                                        placement="top"
                                                        ngbTooltip="Generar reporte"
                                                        (click)="
                                                            generarReporteIngresos()
                                                        "
                                                    >
                                                        <i
                                                            class="fa fa-file-excel fa-2x"
                                                        ></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table
                                class="table table-striped"
                                id="general_reporte_ingresosegresos"
                            >
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>ID Operación</th>
                                        <th>Modulo</th>
                                        <th>RFC</th>
                                        <th>Fecha</th>
                                        <th>Entidad</th>
                                        <th>Monto</th>
                                        <th>Moneda</th>
                                        <th>Referencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of pendientes">
                                        <td style="width: 10%">
                                            <a
                                                class="btn btn-info btn-sm btn-block"
                                                target="_blank"
                                                [routerLink]="[
                                                    '/general/busqueda/venta/id',
                                                    row.descripcion
                                                ]"
                                                >{{ row.descripcion }}</a
                                            >
                                        </td>
                                        <td style="width: 10%">
                                            {{ row.operacionid }}
                                        </td>
                                        <td>{{ row.modulo }}</td>
                                        <td>{{ row.rfc }}</td>
                                        <td>{{ row.fecha }}</td>
                                        <td>{{ row.financialentity }}</td>
                                        <td>${{ row.monto }}</td>
                                        <td>{{ row.moneda }}</td>
                                        <td>{{ row.referencia }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-egresos">
                        <ng-template ngbTabTitle>
                            <h5>Egresos</h5>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate] class="m-t-50">
                                <form class="md-float-material form-material">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-primary"
                                                    >
                                                        <input
                                                            type="date"
                                                            class="form-control"
                                                            name="fecha_inicio"
                                                            [(ngModel)]="
                                                                busqueda.fecha_inicio
                                                            "
                                                        />
                                                        <span
                                                            class="form-bar"
                                                        ></span>
                                                        <label
                                                            class="float-label"
                                                            >Fecha de
                                                            inicio</label
                                                        >
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-primary"
                                                    >
                                                        <input
                                                            type="date"
                                                            class="form-control"
                                                            name="fecha_final"
                                                            [(ngModel)]="
                                                                busqueda.fecha_final
                                                            "
                                                        />
                                                        <span
                                                            class="form-bar"
                                                        ></span>
                                                        <label
                                                            class="float-label"
                                                            >Fecha final</label
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row m-t-10">
                                                <div class="col-md-12">
                                                    <button
                                                        class="btn btn-sm btn-block btn-outline-info http-disabled"
                                                        id="generar_reporte"
                                                        placement="top"
                                                        ngbTooltip="Generar reporte"
                                                        (click)="
                                                            generarReporteIngresos()
                                                        "
                                                    >
                                                        <i
                                                            class="fa fa-file-excel fa-2x"
                                                        ></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table
                                class="table table-striped"
                                id="general_reporte_ingresosegresos"
                            >
                                <thead>
                                    <tr>
                                        <th>ID Operación</th>
                                        <th>Modulo</th>
                                        <th>RFC</th>
                                        <th>Fecha</th>
                                        <th>Cuenta</th>
                                        <th>Monto</th>
                                        <th>Moneda</th>
                                        <th>Referencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of pendientes">
                                        <td style="width: 10%">
                                            {{ row.operacionid }}
                                        </td>
                                        <td>{{ row.modulo }}</td>
                                        <td>{{ row.rfc }}</td>
                                        <td>{{ row.fecha }}</td>
                                        <td>{{ row.financialentity }}</td>

                                        <td>${{ row.monto }}</td>
                                        <td>{{ row.moneda }}</td>
                                        <td>{{ row.referencia }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </form>
    </div>
</div>
