<div class="page-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Agregar cliente</h5>
                </div>
                <div class="card-body">
                    <form
                        class="md-float-material form-material"
                        #f="ngForm"
                        autocomplete="off"
                    >
                        <div class="row">
                            <div
                                class="col-md-11"
                                [hidden]="clientes.length > 0"
                            >
                                <div class="form-group form-primary">
                                    <input
                                        type="text"
                                        name="clienteinput"
                                        class="form-control"
                                        #clienteinput="ngModel"
                                        [(ngModel)]="data.text"
                                        pattern="[^'&quot;]+$"
                                        maxlength="100"
                                        (keyup.enter)="buscarCliente()"
                                    />
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Buscar cliente</label
                                    >
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="
                                            clienteinput.invalid &&
                                            (clienteinput.dirty ||
                                                clienteinput.touched)
                                        "
                                        >No se permite el caracter ' ó "</small
                                    >
                                </div>
                            </div>

                            <div
                                class="col-md-11"
                                [hidden]="clientes.length == 0"
                            >
                                <div class="form-group form-primary">
                                    <select
                                        name="selectcliente"
                                        class="form-control"
                                        #selectcliente="ngModel"
                                        required
                                        [(ngModel)]="data.cliente"
                                        required
                                    >
                                        <option
                                            value=""
                                            disabled
                                            selected
                                        ></option>
                                        <option
                                            value="{{ cliente.id }}"
                                            *ngFor="let cliente of clientes"
                                        >
                                            {{ cliente.razon_social }}
                                        </option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Clientes</label>
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="selectcliente.errors?.required"
                                        >Campo requerido</small
                                    >
                                </div>
                            </div>

                            <div class="col-md-1">
                                <button
                                    type="button"
                                    class="btn btn-primary btn-sm btn-block http-disabled"
                                    (click)="buscarCliente()"
                                >
                                    Buscar
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-primary">
                                    <input
                                        type="text"
                                        name="ftp"
                                        #ftpusuario="ngModel"
                                        class="form-control"
                                        required
                                        [(ngModel)]="data.ftp"
                                        pattern="[^'&quot;]+$"
                                    />
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Usuario de FTP</label
                                    >
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="ftpusuario.errors?.required"
                                        >Campo requerido</small
                                    >
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="
                                            ftpusuario.invalid &&
                                            (ftpusuario.dirty ||
                                                ftpusuario.touched)
                                        "
                                        >No se permite el caracter ' ó "</small
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-primary">
                                    <select
                                        name="marketplacecliente"
                                        class="form-control"
                                        #marketplacecliente="ngModel"
                                        required
                                        [(ngModel)]="data.marketplace"
                                        required
                                    >
                                        <option
                                            value=""
                                            disabled
                                            selected
                                        ></option>
                                        <option
                                            value="{{ marketplace.id }}"
                                            *ngFor="
                                                let marketplace of marketplaces
                                            "
                                        >
                                            {{ marketplace.marketplace }}
                                        </option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Marketplace</label
                                    >
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="
                                            marketplacecliente.errors?.required
                                        "
                                        >Campo requerido</small
                                    >
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-primary">
                                    <select
                                        name="periodocliente"
                                        class="form-control"
                                        #periodocliente="ngModel"
                                        required
                                        [(ngModel)]="data.periodo"
                                        required
                                    >
                                        <option
                                            value=""
                                            disabled
                                            selected
                                        ></option>
                                        <option
                                            value="{{ periodo.id }}"
                                            *ngFor="let periodo of periodos"
                                        >
                                            {{ periodo.periodo }}
                                        </option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Periodo</label>
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="periodocliente.errors?.required"
                                        >Campo requerido</small
                                    >
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-primary">
                                    <select
                                        name="usoventacliente"
                                        class="form-control"
                                        #usoventacliente="ngModel"
                                        required
                                        [(ngModel)]="data.uso_venta"
                                        required
                                    >
                                        <option
                                            value=""
                                            disabled
                                            selected
                                        ></option>
                                        <option
                                            value="{{ uso.id }}"
                                            *ngFor="let uso of usos_venta"
                                        >
                                            {{
                                                uso.codigo +
                                                    " - " +
                                                    uso.descripcion
                                            }}
                                        </option>
                                    </select>
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Uso del CFDi</label
                                    >
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="usoventacliente.errors?.required"
                                        >Campo requerido</small
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group form-primary">
                                    <input
                                        type="text"
                                        name="apikeycliente"
                                        class="form-control"
                                        #apikeycliente="ngModel"
                                        [(ngModel)]="data.api_key"
                                        pattern="[^'&quot;]+$"
                                        readonly
                                        maxlength="50"
                                        required
                                    />
                                    <span class="form-bar"></span>
                                    <label class="float-label">API Key</label>
                                    <small
                                        class="text-danger messages block"
                                        *ngIf="
                                            apikeycliente.invalid &&
                                            (apikeycliente.dirty ||
                                                apikeycliente.touched)
                                        "
                                        >No se permite el caracter ' ó "</small
                                    >
                                </div>
                            </div>

                            <div class="col-md-1">
                                <button
                                    type="button"
                                    class="btn btn-primary btn-sm btn-block http-disabled"
                                    (click)="generarApiKey()"
                                >
                                    Generar
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button
                                    class="btn btn-info btn-sm btn-block http-disabled"
                                    (click)="guardarCliente()"
                                    [disabled]="!f.valid"
                                >
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Clientes agregados</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table
                                class="table table-striped"
                                id="general_reporte_administracion_producto_cliente"
                            >
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>FTP</th>
                                        <th>Periodo</th>
                                        <th>Factura</th>
                                        <th>Creación</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of clientes_tabla">
                                        <td>{{ row.cliente }}</td>
                                        <td>{{ row.ftp }}</td>
                                        <td>{{ row.periodo }}</td>
                                        <td>
                                            {{
                                                row.codigo +
                                                    " - " +
                                                    row.descripcion
                                            }}
                                        </td>
                                        <td>{{ row.created_at }}</td>
                                        <td>
                                            <button
                                                class="btn btn-info btn-sm"
                                                (click)="
                                                    verProductosEntidad(
                                                        modalproductos,
                                                        row.id
                                                    )
                                                "
                                            >
                                                Ver productos
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalproductos let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            Productos del cliente {{ data.cliente_text }}
        </h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <h4 class="sub-title m-t-20">Buscar Productos</h4>

        <form class="md-float-material form-material m-t-30">
            <div class="row">
                <div class="col-md-5">
                    <div
                        class="form-group form-primary"
                        *ngIf="!productos_b2b.length"
                    >
                        <input
                            type="text"
                            name="buscar-producto-b2b"
                            class="form-control"
                            [(ngModel)]="producto.criterio"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label"
                            >Buscar Producto (SKU, Descripcion)</label
                        >
                    </div>

                    <div
                        class="form-group form-primary"
                        *ngIf="productos_b2b.length"
                    >
                        <select
                            name="buscar-producto-b2b-select"
                            class="form-control"
                            [(ngModel)]="producto.producto"
                            (change)="cambiarProductoClientePrecio()"
                        >
                            <option value=""></option>
                            <option
                                value="{{ row.sku }}"
                                *ngFor="let row of productos_b2b"
                            >
                                {{ row.producto }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label"
                            >Selecciona un producto</label
                        >
                    </div>
                </div>

                <div class="col-md-1">
                    <button
                        class="btn btn-outline-info btn-sm btn-block"
                        placement="top"
                        ngbTooltip="Buscar producto"
                        (click)="buscarProducto()"
                    >
                        <i class="fa fa-search fa-2x"></i>
                    </button>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-primary">
                        <input
                            type="number"
                            name="buscar-producto-b2b"
                            class="form-control"
                            [(ngModel)]="producto.precio"
                            step="0.01"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Precio de venta</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button
                        class="btn btn-outline-info btn-sm btn-block"
                        placement="top"
                        ngbTooltip="Agregar producto"
                        (click)="agregarProducto()"
                    >
                        <i class="fa fa-plus fa-2x"></i>
                    </button>
                </div>
            </div>
        </form>

        <h4 class="sub-title m-t-20">Productos actualmente agregados</h4>

        <div class="row">
            <div class="col-md-12">
                <table
                    class="table table-striped"
                    id="general_reporte_administracion_producto_productos"
                >
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Descripción</th>
                            <th>Existencia</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let row of data.productos;
                                let index = index
                            "
                        >
                            <td>{{ row.sku }}</td>
                            <td>{{ row.descripcion }}</td>
                            <td>{{ row.existencia }}</td>
                            <td>
                                <input
                                    type="number"
                                    name="producto_precio_{{ index }}"
                                    class="form-control"
                                    [(ngModel)]="row.precio"
                                    step="0.0001"
                                    (change)="cambiarPrecio(row.id, row.precio)"
                                />
                            </td>
                            <td>
                                <button
                                    class="btn btn-outline-danger btn-sm"
                                    placement="top"
                                    ngbTooltip="Borrar producto"
                                    (click)="borrarProducto(row.id)"
                                >
                                    <i class="fa fa-trash fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
