<div class="card">
    <div class="card">
        <!-- <button (click)="ngOnInit()">GET</button> -->
        <div class="card-header">
            <h5>Almacenes</h5>
            <button
                style="float: right"
                class="btn btn-info btn-sm"
                (click)="abrirModalCrearAlmacen(modalCrearAlmacen)"
            >
                Crear almacén
            </button>

        </div>
        <div class="card-block table-responsive">
            <div class="row">
                <div class="col-md-12">
                    <table
                        class="table table-striped"
                        id="tabla-almacenes"
                    >
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Empresa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let almacen of almacenes">
                            <td>{{ almacen.almacen.almacen }}</td>
                            <td>{{ almacen.empresa.empresa }}</td>
                            <td>
                                <button
                                    class="btn btn-sm btn-outline-danger m-l-10"
                                    placement="top"
                                    ngbTooltip="Eliminar Almacen"
                                    (click)="eliminarAlmacen(almacen.almacen.id)"
                                >
                                    <i class="fa fa-trash fa-2x"></i>
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalCrearAlmacen let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Crear Almacén</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="guardarAlmacen(d)">
        <div class="modal-body">
            <div class="form-group">
                <label>Nombre del Almacén</label>
                <input type="text" class="form-control" [(ngModel)]="nuevoAlmacen.nombre" name="nombre" required />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!nuevoAlmacen.nombre">
                Guardar
            </button>
            <button type="button" class="btn btn-secondary" (click)="d('Cross click')">
                Cancelar
            </button>
        </div>
    </form>
</ng-template>

