<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material" autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-primary">
                        <select
                            name="proveedorb2b"
                            id="proveedorb2b"
                            #proveedorb2b="ngModel"
                            class="form-control"
                            [(ngModel)]="data.proveedor"
                            (change)="rebuildTable()"
                        >
                            <option value="" disabled></option>
                            <option
                                value="{{ row.id }}"
                                *ngFor="let row of proveedores"
                            >
                                {{ row.razon_social }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Proveedor B2B</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <input
                                    type="text"
                                    name="criterio"
                                    class="form-control"
                                    [(ngModel)]="data.criterio"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Criterio de búsqueda (Código,
                                    Descripción)</label
                                >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button
                                class="btn btn-sm btn-outline-info m-t-10 btn-block http-disabled"
                                (click)="buscarProducto()"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-search fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-block table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table
                    class="table table-striped"
                    id="general_busqueda_producto_exel"
                >
                    <thead>
                        <tr>
                            <th>Código B2B</th>
                            <th>Código Proveedor</th>
                            <th>SKU</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Familia</th>
                            <th>Categoria</th>
                            <th>Subcategoria</th>
                            <th>Costo</th>
                            <th>Existencias</th>
                            <th
                                *ngIf="esAdmin() && data.proveedor == 4"
                                placement="left"
                                ngbTooltip="Actualizar precios y existencias"
                                container="body"
                            >
                                Actualizar
                            </th>
                            <th>Última actualización</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of productos; let index = index">
                            <td>{{ row.id_producto }}</td>
                            <td>{{ row.codigo_proveedor }}</td>
                            <td>{{ row.codigo_barra }}</td>
                            <td>{{ row.descripcion }}</td>
                            <td>{{ row.marca }}</td>
                            <td>{{ row.familia }}</td>
                            <td>{{ row.categoria }}</td>
                            <td>{{ row.subcategoria }}</td>
                            <td class="no-wrap">
                                <p
                                    *ngIf="row.existencias.length == 0"
                                    placement="top"
                                    ngbTooltip="Favor de marcar el producto en 'actualizar' para poder actualizar el costo diariamente"
                                    container="body"
                                >
                                    Sin costo
                                </p>
                                <p *ngIf="row.existencias.length > 0">
                                    $
                                    {{ commaNumber(row.existencias[0].precio) }}
                                </p>
                            </td>
                            <td class="no-wrap">
                                <p *ngIf="row.existencias.length == 0">
                                    Sin existencias
                                </p>
                                <ul *ngIf="row.existencias.length > 0">
                                    <li
                                        *ngFor="
                                            let existencia of row.existencias
                                        "
                                    >
                                        {{ existencia.locacion }}:
                                        <b>{{ existencia.existencia }}</b>
                                    </li>
                                </ul>
                            </td>
                            <td *ngIf="esAdmin() && data.proveedor == 4">
                                <ui-switch
                                    class="js-single"
                                    color="#4680ff"
                                    switchColor="#fff"
                                    size="medium"
                                    name="actualizarproducto{{ index }}"
                                    id="actualizarproducto{{ index }}"
                                    [(ngModel)]="row.actualizar"
                                    (change)="actualizarProducto(row.id)"
                                ></ui-switch>
                            </td>
                            <td>
                                {{
                                    row.ultima_actualizacion
                                        ? row.ultima_actualizacion
                                        : "Sin registro"
                                }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
