.badge.badge-light.badge1 {
    background-color: #cd7f32;
    color: #fff;
}
.badge.badge-light.badge2 {
    background-color: silver;
}
.badge.badge-light.badge3 {
    background-color: gold;
}

.badge.badge-light {
    padding-top: 10px;
}
