.cancelado {
    color: white !important;
    background-color: #bc1616 !important;
}

.no-wrap {
    white-space: nowrap;
}

.custom-multi-select {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
}

.custom-option {
  padding: 6px 10px;
  cursor: pointer;
  user-select: none;
}

.custom-option:hover {
  background-color: #eee;
}

.custom-option.selected {
  background-color: #007bff;
  color: white;
}
