<div class="card">
    <div class="card-header">
        <h5>Costos y precios de productos en el año</h5>
    </div>

    <div class="card-body">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="search-company"
                                    class="form-control"
                                    [(ngModel)]="search.company"
                                >
                                    <option
                                        value="{{ row.id }}"
                                        *ngFor="let row of companies"
                                    >
                                        {{ row.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="search-type"
                                    class="form-control"
                                    [(ngModel)]="search.type"
                                >
                                    <option value="" selected disabled></option>
                                    <option value="nota">
                                        Notas de credito
                                    </option>
                                    <option value="venta">Ventas</option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Tipo de reporte</label
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="number"
                                    class="form-control"
                                    name="search-year"
                                    [(ngModel)]="search.year"
                                    min="1900"
                                    max="2099"
                                    step="1"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Año</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                class="btn btn-outline-info btn-sm btn-block http-disabled"
                                placement="top"
                                ngbTooltip="Generar y descargar reporte"
                                (click)="createReport()"
                            >
                                <i class="fa fa-2x fa-file-excel"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
