<!--suppress JSUnusedLocalSymbols -->
<div class="card">
    <div class="card-header">
        <h5>Solicitud de transferencias pendientes</h5>
    </div>
    <div class="card-block table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table
                    class="table table-striped"
                    id="almacen_pretransferencia_envio"
                >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Solicitante</th>
                            <th>Observacion</th>
                            <th>Almacén entrada</th>
                            <th>Almacén salida</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let solicitud of solicitudes">
                            <td>
                                <button
                                    class="btn btn-info btn-sm btn-block"
                                    (click)="verDetalle(modal, solicitud.id)"
                                >
                                    {{ solicitud.id }}
                                </button>
                            </td>
                            <td>{{ solicitud.nombre }}</td>
                            <td>{{ solicitud.observacion }}</td>
                            <td>{{ solicitud.almacen_entrada }}</td>
                            <td>{{ solicitud.almacen_salida }}</td>
                            <td>{{ solicitud.created_at }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Información de la solicitud</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Documento</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ detalle.id }}</h5>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Marketplace</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ detalle.area + " / " + detalle.marketplace }}</h5>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">ID del envío</label>
                <div class="col-sm-10 inline-block">
                    <h5>
                        {{
                            $any(detalle).info_extra
                                ? $any(detalle).info_extra.id
                                : "No especificado"
                        }}
                    </h5>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Solicitante</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ $any(detalle).nombre }}</h5>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Observaciones</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ $any(detalle).observacion }}</h5>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Almacenes</label>
                <div class="col-sm-10 inline-block">
                    <h5>
                        Almacén entrada: {{ $any(detalle).almacen_entrada }}
                    </h5>
                    <h5>Almacén salida: {{ $any(detalle).almacen_salida }}</h5>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Tarimas</label>
                <div class="col-sm-10 inline-block">
                    <form class="md-float-material form-material m-t-20">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-primary">
                                    <input
                                        type="number"
                                        id="cantidadtarimas"
                                        name="cantidadtarimas"
                                        class="form-control"
                                        [(ngModel)]="
                                            data.informacion_adicional
                                                .cantidad_tarimas
                                        "
                                    />
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Cantidad de tarimas</label
                                    >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Productos</label>
                <div class="col-sm-10 inline-block table-responsive">
                    <form
                        class="md-float-material form-material"
                        autocomplete="off"
                    >
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Capturadas</th>
                                    <th>Tarima</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let producto of detalle.productos;
                                        let index = index
                                    "
                                >
                                    <td>{{ producto.sku }}</td>
                                    <td>{{ producto.descripcion }}</td>
                                    <td>{{ producto.cantidad }}</td>
                                    <td>
                                        {{
                                            producto.serie
                                                ? producto.series.length
                                                : producto.cantidad_sku_escaneado
                                        }}
                                    </td>
                                    <td>
                                        <div class="form-group form-primary">
                                            <input
                                                type="text"
                                                name="cantidadtarimas{{
                                                    index
                                                }}"
                                                class="form-control"
                                                [(ngModel)]="
                                                    producto.comentario
                                                "
                                            />
                                        </div>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-info btn-sm btn-block"
                                            (click)="
                                                agregarSeries(
                                                    modalserie,
                                                    producto.sku
                                                )
                                            "
                                            *ngIf="producto.serie"
                                        >
                                            Agregar
                                        </button>
                                        <button
                                            class="btn btn-info btn-sm btn-block"
                                            (click)="
                                                agregarProductosEscaneados(
                                                    modalskuescaneado,
                                                    producto.sku
                                                )
                                            "
                                            *ngIf="!producto.serie"
                                        >
                                            Agregar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <div
                class="form-group group-div"
                *ngIf="detalle.marketplace === 'MERCADOLIBRE'"
            >
                <label class="col-form-label col-sm-2">Etiquetas</label>
                <div class="col-sm-10 inline-block">
                    <form
                        class="md-float-material form-material"
                        autocomplete="off"
                    >
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Titulo</th>
                                            <th>Variación</th>
                                            <th>Cantidad</th>
                                            <th>Productos</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="
                                                let publicacion of detalle.publicaciones
                                            "
                                        >
                                            <td>{{ publicacion.id }}</td>
                                            <td>{{ publicacion.titulo }}</td>
                                            <td>
                                                {{ publicacion.etiqueta_text }}
                                            </td>
                                            <td>{{ publicacion.cantidad }}</td>
                                            <td>
                                                <table
                                                    class="table table-striped"
                                                >
                                                    <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="
                                                                let producto of publicacion.productos
                                                            "
                                                        >
                                                            <td>
                                                                {{
                                                                    producto.sku
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                    producto.descripcion
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                    producto.cantidad
                                                                }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <button
                                                    class="btn btn-outline-info btn-sm btn-block m-b-10 http-disabled"
                                                    placement="top"
                                                    ngbTooltip="Imprimir etiquetas"
                                                    (click)="
                                                        imprimirEtiquetas(
                                                            publicacion.id,
                                                            publicacion.etiqueta
                                                        )
                                                    "
                                                >
                                                    <i
                                                        class="fa fa-2x fa-print"
                                                    ></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div
                class="form-group group-div"
                *ngIf="detalle.marketplace === 'AMAZON'"
            >
                <label class="col-form-label col-sm-2">Etiquetas</label>
                <div class="col-sm-10 inline-block">
                    <div class="row">
                        <div class="col-md-12">
                            <button
                                class="btn btn-outline-info btn-sm btn-block m-b-10 http-disabled m-t-10 m-b-10"
                                placement="top"
                                ngbTooltip="Imprimir etiquetas"
                                (click)="imprimirEtiquetas(0,0)"
                            >
                                <i class="fa fa-2x fa-print"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Seguimiento</label>
                <div class="col-sm-10 inline-block">
                    <app-new-editor
                        class="m-t-20"
                        name="seguimiento"
                        [(ngModel)]="$any(detalle).seguimiento"
                    >
                    </app-new-editor>

                    <div
                        *ngFor="
                            let seguimiento of $any(detalle)
                                .seguimiento_anterior
                        "
                        class="m-t-20 m-b-20"
                    >
                        <div class="media chat-messages">
                            <div class="media-body chat-menu-content">
                                <div class="">
                                    <p class="chat-cont">
                                        {{
                                            seguimiento.nombre +
                                                " - " +
                                                seguimiento.created_at
                                        }}
                                    </p>
                                    <p
                                        class="chat-cont"
                                        [innerHTML]="seguimiento.seguimiento"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Archivos</label>
                <div class="col-sm-10 inline-block">
                    <ul class="m-t-10" *ngIf="detalle.archivos.length > 0">
                        <li *ngFor="let archivo of detalle.archivos">
                            <i class="fa fa-{{ archivo.icon }}"></i>
                            <span
                                class="text-muted"
                                (click)="verArchivo(archivo.dropbox)"
                                style="cursor: pointer;"
                                >{{ archivo.nombre }}</span
                            >
                        </li>
                    </ul>
                    <h5 *ngIf="detalle.archivos.length == 0">Sin archivos</h5>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Regresar</label>
                <div class="col-sm-10 inline-block">
                    <ui-switch
                        class="js-single"
                        color="#4680ff"
                        switchColor="#fff"
                        size="medium"
                        name="regresar"
                        id="regresar"
                        [(ngModel)]="data.regresar"
                    ></ui-switch>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2"></label>
                <div class="col-sm-10 inline-block">
                    <button
                        class="btn btn-info btn-sm btn-block m-t-10 m-b-10 http-disabled"
                        (click)="guardarDocumento()"
                        [disabled]="$any(detalle).seguimiento == ''"
                        id="guardar_documento"
                    >
                        Terminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalserie let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Series</h4>
        <h4 class="modal-title m-l-10" style="color: #ff0000;">
            {{ data.series.length }}
        </h4>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="float-label ol-form-label col-sm-2">Serie</label>
                <div class="col-sm-10 inline-block">
                    <div class="row">
                        <div class="col-md-10">
                            <input
                                type="text"
                                id="serie"
                                name="serie"
                                class="form-control"
                                [(ngModel)]="data.serie"
                                (keyup.enter)="sanitizeInput(); agregarSerie()"
                            />
                        </div>
                        <div class="col-md-2">
                            <button
                                class="btn btn-sm btn-info"
                                (click)="sanitizeInput(); agregarSerie()"
                                [disabled]="data.serie == ''"
                            >
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Series</label>
                <div class="col-sm-10 inline-block">
                    <ul class="list-group m-b-20" id="ul_series">
                        <li
                            class="list-group-item"
                            *ngFor="let serie of data.series"
                        >
                            {{ serie }}
                            <span
                                class="badge"
                                style="cursor: pointer; float: right;"
                                (click)="eliminarSerie(serie)"
                                >X</span
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Series</label>
                <div class="col-sm-10 inline-block">
                    <button
                        class="btn btn-sm btn-info btn-block m-t-10 m-b-10 http-disabled"
                        (click)="confirmarSeries()"
                        id="button_confirmar_series"
                    >
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalskuescaneado let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            {{ data.producto_serie }}
        </h4>
        <h4 class="modal-title m-l-10" style="color: #ff0000;">
            {{ data.cantidad_producto_escaneado }}
        </h4>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="float-label ol-form-label col-sm-2">Codigo</label>
                <div class="col-sm-10 inline-block">
                    <div class="row">
                        <div class="col-md-10">
                            <input
                                type="text"
                                id="productoescaneado"
                                name="productoescaneado"
                                class="form-control"
                                [(ngModel)]="data.producto_escaneado"
                                (keyup.enter)="agregarProductoEscaneado()"
                            />
                        </div>
                        <div class="col-md-2">
                            <button
                                class="btn btn-sm btn-info"
                                (click)="agregarProductoEscaneado()"
                                [disabled]="data.producto_escaneado == ''"
                            >
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

