<div class="card">
    <div class="card-header">
        <h5>Documentos pendientes para importar a comercial</h5>
    </div>
    <div class="card-block table-responsive">
        <div class="row">
            <div class="col-md-8">
                Buscar en la tabla y oprimir "Importar" en la venta a ingresar
            </div>
            <div class="col-md-4">
                <div class="form-group form-primary">
                    <select
                        name="anio_documentos"
                        id="anio_documentos"
                        class="form-control"
                        required
                        [(ngModel)]="anio"
                        (change)="onChangeAnio()"
                    >
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                    </select>
                    <span class="form-bar"></span>
                    <label class="float-label">Filtrar por año</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" id="documentos_importar">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Empresa</th>
                            <th>Almacen</th>
                            <th>Marketplace</th>
                            <th>Area</th>
                            <th>Tipo</th>
                            <th>Fase</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of ventas">
                            <td>
                                <button
                                    class="btn btn-info btn-sm"
                                    (click)="goToLink(venta.id)"
                                >
                                    {{ venta.id }}
                                </button>
                            </td>
                            <td>{{ venta.empresa }}</td>
                            <td>{{ venta.almacen }}</td>
                            <td>{{ venta.marketplace }}</td>
                            <td>{{ venta.area }}</td>
                            <td>{{ venta.tipo }}</td>
                            <td>{{ venta.fase }}</td>
                            <td>{{ venta.created_at }}</td>
                            <td>
                                <button
                                    class="btn btn-info btn-sm"
                                    (click)="importarComercial(venta.id)"
                                >
                                    Importar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">{{ loadingTitle }}</p>
</ngx-spinner>
