.pointer { cursor: pointer; }
.table tfoot th { border-top: 2px solid #e9ecef; }
.alert-info, .alert-warning { padding: .5rem .75rem; }
.input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
