<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="empresa"
                                    id="empresa"
                                    class="form-control"
                                    [(ngModel)]="busqueda.empresa"
                                >
                                    <option
                                        value="{{ empresa.bd }}"
                                        *ngFor="let empresa of empresas"
                                    >
                                        {{ empresa.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_inicio"
                                    [(ngModel)]="busqueda.fecha_inicio"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Fecha de inicio</label
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_final"
                                    [(ngModel)]="busqueda.fecha_final"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha final</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                class="btn btn-sm btn-block btn-outline-info http-disabled"
                                id="generar_reporte"
                                placement="right"
                                ngbTooltip="Generar reporte"
                                (click)="switchReporte()"
                            >
                                <i class="fa fa-file-excel fa-2x"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-3">
                            <label style="display: block; font-size: 9pt"
                                >Proveedor</label
                            >
                            <ui-switch
                                class="js-single"
                                color="#4680ff"
                                switchColor="#fff"
                                size="medium"
                                name="busquedaproveedor"
                                (change)="onProveedorChange()"
                                [(ngModel)]="proveedor.buscar"
                            ></ui-switch>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" [hidden]="!proveedor.buscar">
                    <div class="form-group form-primary">
                        <input
                            type="text"
                            name="descripcion"
                            id="descripcion"
                            required
                            class="form-control"
                            [(ngModel)]="proveedor.text"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Proveedor</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-striped" id="general_reporte_notacredito">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nota de Credito</th>
                    <th>RFC</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Moneda</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of notas">
                    <td style="width: 10%">
                        <a
                            class="btn btn-info btn-sm btn-block"
                            target="_blank"
                            [routerLink]="[
                                '/general/busqueda/venta/id',
                                row.titulo
                            ]"
                            >{{ row.titulo }}</a
                        >
                    </td>
                    <td style="width: 15%">{{ row.documento }}</td>
                    <td>{{ row.rfc }}</td>
                    <td>{{ row.fecha }}</td>
                    <td>${{ row.total }}</td>
                    <td>{{ row.moneda }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
