<!--<div>-->
<!--    <h1>Reporte de Existencias AROME</h1>-->
<!--    <div>-->
<!--        <button (click)="generarReporteArome()"-->
<!--            class="btn btn-block btn-info btn-sm">-->
<!--            Boton de funciona por favor-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<div class="card">
    <div class="card-header">
        <h1 class="sub-title">Reporte de Existencias AROME</h1>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group form-primary">
                    <button (click)="generarReporteArome()"
                            class="btn btn-block btn-info btn-sm">
                        Descargar Reporte
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
