<div class="card">
    <app-under-construction></app-under-construction>
    <!-- <div class="card-header">
        <h4 class="card-title" style="float: left">Paqueterías</h4>
        <button class="btn btn-sm btn-success" style="float: right">
            Agregar
        </button>
    </div>
    <div class="card-block table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Paqueteria</th>
                    <th>Código</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div> -->
</div>
