<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material m-t-10">
            <h4 class="sub-title">
                Marketplace
            </h4>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group form-primary">
                        <select
                            name="area_busqueda"
                            id="area_busqueda"
                            class="form-control"
                            (change)="cambiarArea()"
                            [(ngModel)]="data.area"
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ area.id }}"
                                *ngFor="let area of areas"
                                >{{ area.area }}</option
                            >
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Área</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-primary">
                        <select
                            name="marketplace_busqueda"
                            id="marketplace_busqueda"
                            class="form-control"
                            [(ngModel)]="data.marketplace"
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ marketplace.id }}"
                                *ngFor="let marketplace of marketplaces"
                            >
                                {{ marketplace.marketplace }}</option
                            >
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Marketplace</label>
                    </div>
                </div>
            </div>

            <h4 class="sub-title m-t-20">
                Filtros de la búsqueda
            </h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-primary">
                        <input
                            type="text"
                            class="form-control"
                            name="publicacion"
                            [(ngModel)]="data.publicacion"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label"
                            >ID de la publicación (MLM)</label
                        >
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <input
                            type="date"
                            class="form-control"
                            name="fecha_inicio"
                            [(ngModel)]="data.fecha_inicio"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha de inicio</label>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <input
                            type="date"
                            class="form-control"
                            name="fecha_final"
                            [(ngModel)]="data.fecha_final"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha final</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <button
                        class="btn btn-sm btn-block btn-info btn-block m-t-10 http-disabled"
                        (click)="generarReporte()"
                        [disabled]="data.marketplace == 0"
                    >
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-md-1">
                    <button
                        class="btn btn-sm btn-block btn-info btn-block m-t-10 http-disabled"
                        (click)="descargarReporte()"
                        [disabled]="data.excel == ''"
                    >
                        <i class="fa fa-download"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
