<div class="page-body">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Reportar error de CRM</h4>
                            <a href="#/dashboard/ticket/faq">
                                ¿Como crear un Ticket?</a
                            >
                        </div>

                        <div class="col-md-6 text-right">
                            <h5>
                                <a
                                    href="#/dashboard/ticket/faq"
                                    class="btn btn-primary stretched-link"
                                    role="button"
                                >
                                    Consulta nuestra sección de FAQ
                                    <br />
                                    para consultar problemas comunes</a
                                >
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="card-block">
                    <form class="form-material">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-primary">
                                    <input
                                        type="text"
                                        name="titulo"
                                        class="form-control"
                                        [(ngModel)]="ticket.titulo"
                                        maxlength="100"
                                        required
                                    />
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Liga de CRM / Título del Ticket</label
                                    >
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group form-primary">
                                    <textarea
                                        type="text"
                                        name="tarea"
                                        class="form-control"
                                        [(ngModel)]="ticket.descripcion"
                                        required
                                    ></textarea>
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Descripción</label
                                    >
                                </div>
                            </div>

                            <div class="col-md-12 m-t-10">
                                <div class="form-group form-primary">
                                    <input
                                        multiple
                                        id="archivos"
                                        type="file"
                                        #file
                                        class="form-control ngb-drop-zone text-center ripple light"
                                        accept="image/png, image/jpeg"
                                        (change)="agregarArchivo($event)"
                                    />
                                    <span class="form-bar"></span>
                                    <label class="float-label"
                                        >Evidencia (Máximo 3 archivos)</label
                                    >
                                </div>
                            </div>
                            <div class="row col-md-12 m-t-30">
                                <div class="col-md-4">
                                    <div class="form-group form-primary">
                                        <select
                                            name="ticket-contacto-metodo"
                                            class="form-control"
                                            [(ngModel)]="ticket.metodo"
                                            required
                                        >
                                            <option selected>
                                                Elige una opción
                                            </option>
                                            <option value="WhatsApp">
                                                WhatsApp
                                            </option>
                                            <option value="Correo">
                                                Correo
                                            </option>
                                        </select>
                                        <span class="form-bar"></span>
                                        <label class="float-label"
                                            >¿Como podemos contactarte? (En caso
                                            de ser necesario)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-primary">
                                        <input
                                            type="text"
                                            name="contacto"
                                            class="form-control"
                                            [(ngModel)]="ticket.contacto"
                                            maxlength="50"
                                            required
                                        />
                                        <span class="form-bar"></span>
                                        <label class="float-label"
                                            >Contacto</label
                                        >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button
                                        type="button"
                                        class="btn btn-block btn-outline-secondary"
                                        (click)="crearTarea($event)"
                                    >
                                        Crear Reporte
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
