<div class="page-body">
    <div class="row m-t-30">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>FAQ</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <h5>
                                <a
                                    href="#/dashboard/ticket/nuevo"
                                    class="btn btn-primary stretched-link"
                                    role="button"
                                >
                                    Crear nuevo Ticket
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
