<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material mt-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <button
                                class="btn btn-sm btn-outline-info btn-block m-t-10"
                                placement="top"
                                ngbTooltip="Crear Proveedor"
                                (click)="openModal(modal)"
                            >
                                <i class="fa fa-plus fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block table-responsive">
        <h4 class="sub-title m-t-20">Lista de proveedores</h4>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" id="b2b_proveedores">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>RFC</th>
                            <th>Razón Social</th>
                            <th>Correo</th>
                            <th>API</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prov of proveedores">
                            <td>{{ prov.id }}</td>
                            <td>{{ prov.rfc }}</td>
                            <td>{{ prov.razon_social }}</td>
                            <td>{{ prov.correo }}</td>
                            <td>
                                <i
                                    [ngClass]="{
                                        fa: true,
                                        'fa-check': prov.api,
                                        'fa-times': !prov.api
                                    }"
                                    [ngStyle]="{
                                        color: prov.api ? 'green' : 'red'
                                    }"
                                ></i>
                            </td>
                            <td>
                                <button
                                    class="btn btn-success btn-sm btn-sm"
                                    placement="top"
                                    ngbTooltip="Editar proveedor"
                                    (click)="editModal(modal, prov)"
                                >
                                    <i class="fa fa-edit fa-2x"></i>
                                </button>
                                &nbsp;&nbsp;
                                <button
                                    class="btn btn-danger btn-sm btn-sm"
                                    placement="top"
                                    ngbTooltip="Eliminar proveedor"
                                    (click)="deleteProveedor(prov.id)"
                                >
                                    <i class="fa fa-times fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Crear / Editar Proveedor</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="md-tabs">
                    <ngb-tabset>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <h5>Información general</h5>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-50">
                                    <form
                                        class="md-float-material form-material"
                                        #f="ngForm"
                                    >
                                        <h4 class="sub-title m-t-30">
                                            Proveedor
                                        </h4>

                                        <div class="row m-t-20">
                                            <div class="col-md-12">
                                                <div
                                                    class="form-group form-primary"
                                                >
                                                    <input
                                                        type="text"
                                                        name="productodescripcion"
                                                        class="form-control"
                                                        required
                                                        [(ngModel)]="
                                                            proveedor.razon_social
                                                        "
                                                    />
                                                    <span
                                                        class="form-bar"
                                                    ></span>
                                                    <label class="float-label"
                                                        >Razón Social</label
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div
                                                    class="form-group form-primary"
                                                >
                                                    <input
                                                        type="text"
                                                        name="productosku"
                                                        class="form-control"
                                                        required
                                                        [(ngModel)]="
                                                            proveedor.rfc
                                                        "
                                                    />
                                                    <span
                                                        class="form-bar"
                                                    ></span>
                                                    <label class="float-label"
                                                        >RFC</label
                                                    >
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div
                                                    class="form-group form-primary"
                                                >
                                                    <input
                                                        type="text"
                                                        name="productonp"
                                                        class="form-control"
                                                        required
                                                        [(ngModel)]="
                                                            proveedor.correo
                                                        "
                                                    />
                                                    <span
                                                        class="form-bar"
                                                    ></span>
                                                    <label class="float-label"
                                                        >Correo</label
                                                    >
                                                </div>
                                            </div>
                                            <div
                                                class="col-md-2"
                                                style="margin-top: -16px"
                                            >
                                                <label
                                                    style="
                                                        display: block;
                                                        font-size: 9pt;
                                                    "
                                                    >API</label
                                                >
                                                <ui-switch
                                                    class="js-single"
                                                    color="#4680ff"
                                                    switchColor="#fff"
                                                    size="medium"
                                                    name="proveedorapi"
                                                    id="proveedorapi"
                                                    [(ngModel)]="proveedor.api"
                                                ></ui-switch>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <h5>Almacenes</h5>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-50">
                                    <form
                                        class="md-float-material form-material"
                                        #f="ngForm"
                                    >
                                        <div
                                            *ngFor="
                                                let entry of almacenes;
                                                let i = index
                                            "
                                        >
                                            <h4 class="sub-title m-t-30">
                                                Almacen del proveedor #{{
                                                    i + 1
                                                }}
                                            </h4>
                                            <div class="row">
                                                <!-- id_almacen -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="id_almacen"
                                                        >ID Almacen</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="id_almacen{{ i }}"
                                                        name="id_almacen{{ i }}"
                                                        [(ngModel)]="
                                                            entry.id_almacen
                                                        "
                                                        required
                                                    />
                                                </div>

                                                <!-- id_locacion -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="id_locacion"
                                                        >ID Locacion</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="id_locacion{{ i }}"
                                                        name="id_locacion{{
                                                            i
                                                        }}"
                                                        [(ngModel)]="
                                                            entry.id_locacion
                                                        "
                                                        required
                                                    />
                                                </div>

                                                <!-- locacion -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="locacion"
                                                        >Locacion</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="locacion{{ i }}"
                                                        name="locacion{{ i }}"
                                                        [(ngModel)]="
                                                            entry.locacion
                                                        "
                                                        required
                                                    />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- calle -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="calle"
                                                        >Calle</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="calle{{ i }}"
                                                        name="calle{{ i }}"
                                                        [(ngModel)]="
                                                            entry.calle
                                                        "
                                                        required
                                                    />
                                                </div>
                                                <!-- numero -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="numero"
                                                        >Número</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="numero{{ i }}"
                                                        name="numero{{ i }}"
                                                        [(ngModel)]="
                                                            entry.numero
                                                        "
                                                        required
                                                    />
                                                </div>

                                                <!-- numero_int -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="numero_int"
                                                        >Número Interior</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="numero_int{{ i }}"
                                                        name="numero_int{{ i }}"
                                                        [(ngModel)]="
                                                            entry.numero_int
                                                        "
                                                    />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- colonia -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="colonia"
                                                        >Colonia</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="colonia{{ i }}"
                                                        name="colonia{{ i }}"
                                                        [(ngModel)]="
                                                            entry.colonia
                                                        "
                                                        required
                                                    />
                                                </div>

                                                <!-- ciudad -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="ciudad"
                                                        >Ciudad</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="ciudad{{ i }}"
                                                        name="ciudad{{ i }}"
                                                        [(ngModel)]="
                                                            entry.ciudad
                                                        "
                                                        required
                                                    />
                                                </div>

                                                <!-- estado -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="estado"
                                                        >Estado</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="estado{{ i }}"
                                                        name="estado{{ i }}"
                                                        [(ngModel)]="
                                                            entry.estado
                                                        "
                                                        required
                                                    />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!-- codigo_postal -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="codigo_postal"
                                                        >Código Postal</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="codigo_postal{{
                                                            i
                                                        }}"
                                                        name="codigo_postal{{
                                                            i
                                                        }}"
                                                        [(ngModel)]="
                                                            entry.codigo_postal
                                                        "
                                                        required
                                                    />
                                                </div>

                                                <!-- referencia -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="referencia"
                                                        >Referencia</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="referencia{{ i }}"
                                                        name="referencia{{ i }}"
                                                        [(ngModel)]="
                                                            entry.referencia
                                                        "
                                                    />
                                                </div>

                                                <!-- contacto -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="contacto"
                                                        >Contacto</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="contacto{{ i }}"
                                                        name="contacto{{ i }}"
                                                        [(ngModel)]="
                                                            entry.contacto
                                                        "
                                                        required
                                                    />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!-- correo -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="correo"
                                                        >Correo</label
                                                    >
                                                    <input
                                                        type="email"
                                                        class="form-control"
                                                        id="correo{{ i }}"
                                                        name="correo{{ i }}"
                                                        [(ngModel)]="
                                                            entry.correo
                                                        "
                                                        required
                                                    />
                                                </div>

                                                <!-- telefono -->
                                                <div
                                                    class="form-group col-md-4"
                                                >
                                                    <label for="telefono"
                                                        >Teléfono</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="telefono{{ i }}"
                                                        name="telefono{{ i }}"
                                                        [(ngModel)]="
                                                            entry.telefono
                                                        "
                                                        required
                                                    />
                                                </div>
                                                <div
                                                    class="col-md-2"
                                                    style="margin-top: -16px"
                                                >
                                                    <label
                                                        style="
                                                            display: block;
                                                            font-size: 9pt;
                                                        "
                                                        >Activo</label
                                                    >
                                                    <ui-switch
                                                        [(ngModel)]="
                                                            entry.status
                                                        "
                                                        name="status{{ i }}"
                                                        class="js-single"
                                                        color="#4680ff"
                                                        switchColor="#fff"
                                                        size="medium"
                                                    ></ui-switch>
                                                </div>
                                            </div>
                                        </div>
                                        <button
                                            type="button"
                                            (click)="addEntry()"
                                            class="btn btn-primary"
                                        >
                                            Añadir Almacen
                                        </button>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>

        <div class="row m-t-30">
            <div class="col-md-12">
                <button
                    class="btn btn-sm btn-info btn-block http-disabled"
                    (click)="guardar()"
                >
                    Guardar
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">{{ loadingTitle }}</p>
</ngx-spinner>
