<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material mt-10" #form="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="test"
                                    name="search-document"
                                    class="form-control"
                                    [(ngModel)]="filter_data.document"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >ID CRM, ID ERP</label
                                >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="tipo-movimiento"
                                    class="form-control"
                                    [(ngModel)]="filter_data.type"
                                    [disabled]="filter_data.document != ''"
                                >
                                    <option value="" selected>
                                        {{
                                            filter_data.document != ""
                                                ? ""
                                                : "Selecciona un tipo de movimiento"
                                        }}
                                    </option>
                                    <option
                                        value="{{ row.id }}"
                                        *ngFor="let row of types"
                                    >
                                        {{ row.tipo }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Tipo de documento</label
                                >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    name="fecha-inicial"
                                    class="form-control custom-date-input"
                                    [(ngModel)]="filter_data.initial_date"
                                    [disabled]="filter_data.document != ''"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha inicial</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    name="fecha-final"
                                    class="form-control custom-date-input"
                                    [(ngModel)]="filter_data.final_date"
                                    [disabled]="filter_data.document != ''"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha final</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                class="btn btn-outline-info btn-sm btn-block http-disabled"
                                (click)="loadDocuments()"
                                placement="top"
                                ngbTooltip="Cargar documentos"
                            >
                                <i class="fa fa-2x fa-exchange"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table
                    class="table table-striped"
                    id="almacen_movimiento_historial"
                >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Creador</th>
                            <th>Tipo</th>
                            <th>Almacén</th>
                            <th>Observación</th>
                            <th>Fecha</th>
                            <th>Fecha de entregado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of documents">
                            <td>
                                <button
                                    class="btn btn-info btn-sm"
                                    (click)="documentDetails(orden.id)"
                                >
                                    {{ orden.id + " - " + orden.factura_folio }}
                                </button>
                            </td>
                            <td>{{ orden.nombre }}</td>
                            <td>{{ orden.tipo }}</td>
                            <td [ngSwitch]="orden.id_tipo">
                                <span *ngSwitchCase="4">{{
                                    orden.almacen_secundario
                                }}</span>
                                <span *ngSwitchCase="5"
                                    >SALIDA: {{ orden.almacen_secundario
                                    }}<br />ENTRADA:
                                    {{ orden.almacen_principal }}</span
                                >
                                <span *ngSwitchCase="11">{{
                                    orden.almacen_secundario
                                }}</span>
                                <span *ngSwitchDefault>{{
                                    orden.almacen_principal
                                }}</span>
                            </td>
                            <td>{{ orden.observacion }}</td>
                            <td>{{ orden.created_at }}</td>
                            <td>{{ orden.entregado }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #modaldocument let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Informacion de la venta</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">ID</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ data.id + " - " + $any(data).factura_folio }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Creador</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ data.nombre }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Autorizado por</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ data.autorizado_por }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2"
                    >Fecha de entregado</label
                >
                <div class="col-sm-10 inline-block">
                    <h5>{{ $any(data).entregado }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Tipo de documento</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ $any(data).tipo }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Almacen</label>
                <div class="col-sm-10 inline-block">
                    <h5 [ngSwitch]="data.id_tipo">
                        <span *ngSwitchCase="4">{{
                            $any(data).almacen_secundario
                        }}</span>
                        <span *ngSwitchCase="5"
                            >SALIDA: {{ $any(data).almacen_secundario
                            }}<br />ENTRADA:
                            {{ $any(data).almacen_principal }}</span
                        >
                        <span *ngSwitchCase="11">{{
                            $any(data).almacen_secundario
                        }}</span>
                        <span *ngSwitchDefault>{{
                            $any(data).almacen_principal
                        }}</span>
                    </h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Observación</label>
                <div class="col-sm-10 inline-block">
                    <h5>{{ data.observacion }}</h5>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Acciones</label>
                <div class="col-sm-10 inline-block">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                class="btn btn-info btn-sm btn-block m-t-10 m-b-10"
                                (click)="printDocument()"
                                [disabled]="
                                    !$any(data).autorizado ||
                                    (data.id_tipo == 11 && data.importado == 0)
                                "
                            >
                                Imprimir documento
                            </button>
                        </div>
                        <div
                            class="col-md-6"
                            [hidden]="
                                data.id_tipo != 5 &&
                                data.id_tipo != 4 &&
                                data.id_tipo != 11
                            "
                        >
                            <button
                                class="btn btn-info btn-sm btn-block m-t-10 m-b-10"
                                (click)="affectDocument()"
                                [disabled]="
                                    ($any(data).entregado != '' &&
                                        $any(data).entregado != null) ||
                                    $any(data).autorizado ||
                                    (requiere_series &&
                                        data.series_afectar.length <= 0)
                                "
                            >
                                <!-- (click)="affectDocument(modaltoken)" -->
                                {{
                                    data.id_tipo == 11
                                        ? "Autorizar documento"
                                        : "Afectar inventario"
                                }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Productos</label>
                <div class="col-sm-10 inline-block table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of data.productos">
                                <td>{{ producto.sku }}</td>
                                <td>{{ producto.descripcion }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>
                                    <button
                                        class="btn btn-sm btn-info"
                                        (click)="getSeries(producto.sku)"
                                        [disabled]="
                                            !producto.serie ||
                                            (producto.serie &&
                                                producto.series.length == 0)
                                        "
                                        [hidden]="
                                            !producto.serie ||
                                            ((data.id_tipo == 5 ||
                                                data.id_tipo == 11) &&
                                                data.autorizado_by == 0) ||
                                            (producto.serie &&
                                                producto.series.length == 0)
                                        "
                                    >
                                        <!-- (click)="
                                            getSeries(
                                                producto.sku,
                                                modalserierecibidas
                                            )
                                        " -->
                                        Ver series
                                    </button>
                                    <button
                                        class="btn btn-sm btn-info"
                                        [disabled]="
                                            !producto.serie ||
                                            (data.id_tipo == 5 &&
                                                producto.serie &&
                                                producto.series.length == 0)
                                        "
                                        [hidden]="
                                            !producto.serie ||
                                            (data.id_tipo == 5 &&
                                                data.autorizado_by != 0) ||
                                            (data.id_tipo == 11 &&
                                                data.autorizado_by == 0) ||
                                            (data.id_tipo == 11 &&
                                                data.importado) ||
                                            data.id_tipo == 4 ||
                                            data.id_tipo == 3
                                        "
                                        (click)="addSeries(producto.sku)"
                                    >
                                        Agregar series
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div
                class="form-group group-div"
                *ngIf="data.id_tipo == 11 && data.importado == 0"
            >
                <label class="col-form-label col-sm-2">Guardar</label>
                <div class="col-sm-10 inline-block">
                    <div class="row">
                        <div class="col-md-12">
                            <button
                                class="btn btn-info btn-sm btn-block m-t-10 m-b-10 http-disabled"
                                (click)="saveInternalDocument($event)"
                            >
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalrecibiedseries let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Series</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal_serie"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Series</label>
                <div class="col-sm-10 inline-block">
                    <ul class="list-group m-b-20" id="ul_series">
                        <li
                            class="list-group-item"
                            *ngFor="let serie of data.series"
                        >
                            {{ serie.serie }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalaffectserie let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Series</h4>
        <h4 class="modal-title m-l-10" style="color: red">
            {{ data.series_afectar.length }}
        </h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
            id="cerrar_modal_serie"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="float-label ol-form-label col-sm-2">Serie</label>
                <div class="col-sm-10 inline-block">
                    <div class="row">
                        <div class="col-md-10">
                            <input
                                (paste)="handlePaste($event)"
                                (drop)="handleDrop($event)"
                                type="text"
                                id="serie"
                                name="serie"
                                class="form-control"
                                [(ngModel)]="data.serie"
                                (keyup.enter)="sanitizeInput(); addSerie()"
                            />
                        </div>
                        <div class="col-md-2">
                            <button
                                class="btn btn-sm btn-info"
                                (click)="sanitizeInput(); addSerie()"
                                [disabled]="data.serie == ''"
                            >
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group group-div">
                <label class="col-form-label col-sm-2">Series</label>
                <div class="col-sm-10 inline-block">
                    <ul class="list-group m-b-20" id="ul_series">
                        <li
                            class="list-group-item"
                            *ngFor="let serie of data.series_afectar"
                        >
                            {{ serie }}
                            <span
                                class="badge"
                                style="cursor: pointer; float: right"
                                (click)="deleteSerie(serie)"
                                >X</span
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>
