<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material m-t-10" autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fechainicial"
                                    [(ngModel)]="data.fecha_inicial"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha inicial</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fechafinal"
                                    [(ngModel)]="data.fecha_final"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha final</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                type="button"
                                class="btn btn-outline-primary btn-sm btn-block http-disabled"
                                (click)="generarReporte()"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-file-alt fa-2x"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                class="btn btn-sm btn-block btn-outline-info http-disabled"
                                (click)="descargarReporte()"
                                [disabled]="excel == ''"
                                placement="top"
                                ngbTooltip="Descargar reporte"
                            >
                                <i class="fa fa-file-download fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6 table-responsive" *ngIf="empresas.length > 0">
                <div class="row" *ngFor="let row of empresas">
                    <div class="col-md-12">
                        <h4 class="sub-title m-t-10">{{ row.empresa }}</h4>

                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table
                                    class="table table-hover table-borderless"
                                >
                                    <tbody>
                                        <ng-container
                                            *ngFor="let area of row.areas"
                                        >
                                            <tr>
                                                <th>{{ area.area }}</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr
                                                *ngFor="
                                                    let marketplace of area.marketplaces
                                                "
                                            >
                                                <td></td>
                                                <td>
                                                    {{
                                                        marketplace.marketplace
                                                    }}
                                                </td>
                                                <td>{{ marketplace.total }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>TOTAL</td>
                                                <th style="color: blue">
                                                    {{ area.total }}
                                                </th>
                                            </tr>
                                            <tr
                                                style="border-bottom: 1px solid"
                                            >
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table table-hover table-borderless">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>GRAND TOTAL</td>
                                    <th></th>
                                </tr>
                                <tr style="border-bottom: 1px solid">
                                    <td></td>
                                    <td></td>
                                    <td style="color: red">
                                        {{ totalEnviado() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6 table-responsive" *ngIf="productos.length > 0">
                <div class="row">
                    <div class="col-md-12">
                        <table
                            class="table table-striped"
                            id="general_reporte_logistica_marketplace"
                        >
                            <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of productos">
                                    <td>{{ row.cantidad }}</td>
                                    <td>{{ row.sku }}</td>
                                    <td>{{ row.descripcion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
