<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="empresa"
                                    id="empresa"
                                    class="form-control"
                                    [(ngModel)]="data.empresa"
                                >
                                    <option value="" selected disabled>
                                        Selecciona una opción
                                    </option>
                                    <option
                                        value="{{ empresa.bd }}"
                                        *ngFor="let empresa of empresas"
                                    >
                                        {{ empresa.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="tipo"
                                    id="tipo"
                                    class="form-control"
                                    [(ngModel)]="data.tipo"
                                >
                                    <option value="" selected disabled>
                                        Selecciona una opción
                                    </option>
                                    <option value="1">Facturas</option>
                                    <option value="2">Notas de credito</option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Tipo de documento</label
                                >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_inicio"
                                    [(ngModel)]="data.fecha_inicial"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Fecha de inicio</label
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="fecha_final"
                                    [(ngModel)]="data.fecha_final"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Fecha final</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                class="
                                    btn btn-sm btn-block btn-outline-info
                                    http-disabled
                                "
                                (click)="generarReporte()"
                                id="generar_reporte"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-file-excel fa-2x"></i>
                            </button>
                        </div>
                    </div>
                    <!--
                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                class="
                                    btn btn-sm btn-block btn-outline-info
                                    http-disabled
                                "
                                (click)="descargarReporte()"
                                [disabled]="data.excel == ''"
                                placement="top"
                                ngbTooltip="Descargar reporte"
                            >
                                <i class="fa fa-file-download fa-2x"></i>
                            </button>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </form>
    </div>
</div>
