<div class="card">
    <div class="card-body">
        <form class="md-float-material form-material mt-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group form-primary">
                                <input
                                    type="file"
                                    class="form-control"
                                    id="cargar_archivo"
                                    name="cargar_archivo"
                                    (change)="cargarArchivo()"
                                    multiple
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Archivo (s)</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label
                                style="
                                    font-size: 11px;
                                    display: block;
                                    margin-top: -14px;
                                "
                                >Devoluciones</label
                            >
                            <ui-switch
                                class="js-single"
                                color="#4680ff"
                                switchColor="#fff"
                                size="medium"
                                name="devoluciones"
                                id="devoluciones"
                                [(ngModel)]="devoluciones"
                            ></ui-switch>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                class="btn btn-info btn-sm btn-block http-disabled"
                                (click)="generarReporte($event)"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-file-excel fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
