<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="empresa"
                                    id="empresa"
                                    class="form-control"
                                    [(ngModel)]="data.empresa"
                                    (change)="cambiarEmpresa()"
                                >
                                    <option
                                        value="{{ empresa.id }}"
                                        *ngFor="let empresa of empresas"
                                    >
                                        {{ empresa.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="almacen"
                                    id="almacen"
                                    class="form-control"
                                    [(ngModel)]="data.almacen"
                                >
                                    <option
                                        value="{{ almacen.id }}"
                                        *ngFor="let almacen of almacenes"
                                    >
                                        {{ almacen.almacen }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Almacén</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                class="btn btn-sm btn-block btn-outline-info http-disabled"
                                (click)="generarReporte()"
                                id="generar_reporte"
                                placement="top"
                                ngbTooltip="Generar reporte"
                            >
                                <i class="fa fa-file-excel fa-2x"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <button
                                class="btn btn-sm btn-block btn-outline-info http-disabled"
                                (click)="descargarReporte()"
                                [disabled]="data.excel == ''"
                                placement="top"
                                ngbTooltip="Descargar reporte"
                            >
                                <i class="fa fa-file-download fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table
                    class="table table-striped"
                    id="general_reporte_producto_antiguedad"
                >
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Vertical</th>
                            <th>Costo</th>
                            <th>Existencia</th>
                            <th>Fecha U. compra</th>
                            <th>Cantidad U. compra</th>
                            <th>Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of productos">
                            <td>{{ row.sku }}</td>
                            <td>{{ row.producto }}</td>
                            <td>{{ row.cat1 }}</td>
                            <td>{{ row.cat4 }}</td>
                            <td>{{ row.precio }}</td>
                            <td>{{ row.existencia ? row.existencia : 0 }}</td>
                            <td>{{ row.fecha_ultimacompra }}</td>
                            <td>{{ row.cantidad_ultimacompra }}</td>
                            <td>{{ row.dias }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
