/* You can add global styles to this file, and also import other style files */

.link {
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap;
}

.mi-modal-amplio .modal-dialog {
    max-width: 75vw !important;
    width: 75vw !important;
}
