<div class="card">
    <div class="card-header">
        <form class="md-float-material form-material m-t-10">
            <div class="row" [hidden]="empresas_usuario.length < 2">
                <div class="col-md-12">
                    <div class="form-group form-primary">
                        <select name="empresa" id="empresa" required #empresa="ngModel" class="form-control"
                            (change)="cambiarEmpresa()" [(ngModel)]="data.empresa">
                            <option value="" disabled></option>
                            <option value="{{ empresa.bd }}" *ngFor="let empresa of empresas">{{ empresa.empresa }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Empresa</label>
                        <small class="text-danger messages block" *ngIf="empresa.errors?.required">Campo
                            requerido</small>
                    </div>
                </div>
            </div>

            <div class="row m-t-30">
                <div class="col-md-2">
                    <div class="form-group form-primary">
                        <input type="date" name="fecha_inicio" class="form-control" [(ngModel)]="data.fecha_inicio">
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha de inicio</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-primary">
                        <input type="date" name="fecha_final" class="form-control" [(ngModel)]="data.fecha_final">
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha final</label>
                    </div>
                </div>

                <div class="col-md-4" [hidden]="entidades.length > 0">
                    <div class="form-group form-primary">
                        <input type="text" name="entidad_input" class="form-control" #entidadinput="ngModel"
                            [(ngModel)]="data.entidad.input" pattern="[^'&quot;]+$" maxlength="100"
                            (keyup.enter)="buscarEntidad()">
                        <span class="form-bar"></span>
                        <label class="float-label">Buscar entidad</label>
                        <small class="text-danger messages block"
                            *ngIf="(entidadinput.invalid && (entidadinput.dirty || entidadinput.touched))">No se permite
                            el caracter ' ó "</small>
                    </div>
                </div>

                <div class="col-md-4" [hidden]="entidades.length == 0">
                    <div class="form-group form-primary">
                        <select name="select_entidad" id="select_entidad" class="form-control" #selectentidad="ngModel"
                            [(ngModel)]="data.entidad.select">
                            <option value="" disabled selected></option>
                            <option value="{{ entidad.rfc }}" *ngFor="let entidad of entidades">
                                {{ entidad.razon_social }}</option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Entidad</label>
                        <small class="text-danger messages block" *ngIf="selectentidad.errors?.required">Campo
                            requerido</small>
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-sm btn-block http-disabled" id="button_buscar"
                        (click)="buscarEntidad()" [disabled]="data.empresa == ''">Buscar</button>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-sm btn-block http-disabled" id="button_generar"
                        (click)="generarReporte()" [disabled]="data.empresa == ''">Generar</button>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-sm btn-block http-disabled" id="button_descargar"
                        (click)="descargarReporte()" [disabled]="data.excel == ''">Descargar</button>
                </div>
            </div>
        </form>
    </div>
</div>