.cancelado {
    color: white !important;
    background-color: #bc1616 !important;
}
.xaplicar {
    color: white !important;
    background-color: #4bbc16 !important;
}

.no-margin {
    margin: 0;
}

.cancelada {
    color: red;
}

.pendiente {
    color: green;
}
