<div class="row">
    <div class="col-sm-12">
        <!--suppress JSUnusedGlobalSymbols -->
        <form
            #f="ngForm"
            autocomplete="off"
            class="md-float-material form-material"
        >
            <div class="auth-box card">
                <div class="card-block">
                    <div class="row m-t-20">
                        <div class="col-md-5">
                            <div class="form-group form-primary">
                                <input
                                    [(ngModel)]="producto.descripcion"
                                    class="form-control"
                                    name="descripcion"
                                    type="text"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Producto</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group form-primary">
                                <input
                                    [(ngModel)]="producto.precio"
                                    class="form-control"
                                    min="0"
                                    name="pro_cantidad"
                                    step="0.01"
                                    type="number"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label"
                                >Precio de salida (MXN)</label
                                >
                                <small
                                    class="text-primary messages"
                                    style="font-size: 120%"
                                >$ {{ commaNumber(producto.precio) }}</small
                                >
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group form-primary">
                                <input
                                    [(ngModel)]="producto.cantidad"
                                    class="form-control"
                                    min="0"
                                    name="pro_precio"
                                    type="number"
                                />
                                <span class="form-bar"></span>
                                <label class="float-label">Cantidad</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group form-primary">
                                <select
                                    [(ngModel)]="producto.condicion"
                                    class="form-control"
                                    name="pro_condicion"
                                >
                                    <option disabled value=""></option>
                                    <option value="NUEVO">NUEVO</option>
                                    <option value="REACONDICIONADO">
                                        REACONDICIONADO
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Condición</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group form-primary">
                                <select
                                    [(ngModel)]="producto.marketplace"
                                    class="form-control"
                                    name="pro_marketplace"
                                >
                                    <option disabled value=""></option>
                                    <option
                                        *ngFor="let marketplace of marketplaces"
                                        value="{{ marketplace.marketplace }}"
                                    >
                                        {{ marketplace.marketplace }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Marketplace</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button
                                (click)="agregarProducto()"
                                class="btn btn-outline-info btn-sm btn-block"
                                ngbTooltip="Agregar producto"
                                placement="top"
                            >
                                <i class="fa fa-plus fa-2x"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row m-t-30">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio (MXN)</th>
                                    <th>Cantidad</th>
                                    <th>Condición</th>
                                    <th>Marketplace</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                    *ngFor="
                                            let row of data.productos;
                                            let index = index
                                        "
                                >
                                    <td>{{ row.descripcion }}</td>
                                    <td>{{ row.precio }}</td>
                                    <td>{{ row.cantidad }}</td>
                                    <td>
                                        {{ row.condicion }}
                                    </td>
                                    <td>
                                        {{ row.marketplace }}
                                    </td>
                                    <td>
                                        <button
                                            (click)="
                                                    data.productos.splice(
                                                        index,
                                                        1
                                                    )
                                                "
                                            class="btn btn-outline-danger btn-sm btn-block"
                                            ngbTooltip="Eliminar producto"
                                            placement="top"
                                        >
                                            <i
                                                class="fa fa-trash fa-2x"
                                            ></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <app-new-editor
                                [(ngModel)]="data.seguimiento"
                                class="m-t-20"
                                name="seguimiento"
                            >
                            </app-new-editor>
                            <!-- <editor
                                apiKey="00wo1cmzq03pblsrojuv3g3zt1a72qdp3x7b5cnoflew1n14"
                                name="seguimiento"
                                [(ngModel)]="data.seguimiento"
                                [init]="tinymce_init"
                            ></editor> -->
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <button
                                (click)="crearDocumento()"
                                class="btn btn-info btn-sm btn-block http-disabled"
                                type="button"
                            >
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
