<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: #ffffff;">Procesando {{ loadingTitle }}</p>
</ngx-spinner>

<div class="card">
    <div class="card-body">
        <form class="md-float-material form-material m-t-10">
            <h4 class="sub-title">Área y Marketplace</h4>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <select
                            name="item-area"
                            id="item-area"
                            #itemarea="ngModel"
                            class="form-control"
                            (change)="onChangeArea()"
                            [(ngModel)]="data_aux.area"
                            required
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ area.id }}"
                                *ngFor="let area of areas"
                            >
                                {{ area.area }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Área</label>
                        <small
                            class="text-danger messages block"
                            *ngIf="
                                itemarea.invalid &&
                                (itemarea.dirty || itemarea.touched) &&
                                itemarea.errors?.required
                            "
                            >Campo requerido</small
                        >
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group form-primary">
                        <select
                            name="item-marketplace"
                            id="item-marketplace"
                            #itemmarketplace="ngModel"
                            class="form-control"
                            [(ngModel)]="data_aux.marketplace"
                            (change)="onChangeMarketplace()"
                            required
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ marketplace.id }}"
                                *ngFor="let marketplace of marketplaces"
                            >
                                {{ marketplace.marketplace }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Marketplace</label>
                        <small
                            class="text-danger messages block"
                            *ngIf="
                                itemmarketplace.invalid &&
                                (itemmarketplace.dirty ||
                                    itemmarketplace.touched) &&
                                itemmarketplace.errors?.required
                            "
                            >Campo requerido</small
                        >
                    </div>
                </div>
            </div>

            <ng-container *ngTemplateOutlet="template"></ng-container>
        </form>
    </div>
</div>

<ng-template #amazonTemplate>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group form-primary">
                <input
                    type="text"
                    name="item-title"
                    class="form-control"
                    #asin="ngModel"
                    [(ngModel)]="data_simple.item.asin"
                    placement="top"
                    ngbTooltip="ID de la publicación (ASIN/MLM/etc...) de la publicación"
                    required
                />
                <span class="form-bar"></span>
                <label class="float-label"
                    >ID de la publicación (ASIN/MLM/etc...)</label
                >

                <small
                    class="text-danger messages block"
                    *ngIf="
                        asin.invalid &&
                        (asin.dirty || asin.touched) &&
                        asin.errors?.required
                    "
                    >Campo requerido</small
                >
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-8">
            <div class="form-group form-primary">
                <select
                    name="item-listing-type"
                    #shipping="ngModel"
                    class="form-control"
                    [(ngModel)]="data_simple.item.shipping"
                    required
                    (change)="cambiarShipping()"
                >
                    <option value="" disabled selected></option>
                    <option value="fulfillment">Fulfillment</option>
                    <option value="drop_shipping">DropShipping</option>
                </select>
                <span class="form-bar"></span>
                <label class="float-label">Tipo de publicación</label>
                <small
                    class="text-danger messages block"
                    *ngIf="
                        shipping.invalid &&
                        (shipping.dirty || shipping.touched) &&
                        shipping.errors?.required
                    "
                    >Campo requerido</small
                >
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-8">
            <div class="form-group form-primary">
                <input
                    type="text"
                    name="item-title"
                    class="form-control"
                    #itemtitle="ngModel"
                    [(ngModel)]="data_simple.item.title"
                    maxlength="60"
                    placement="top"
                    ngbTooltip="Ejemplo: Celular Samsung Galaxy S9 64 GB Negro"
                    required
                />
                <span class="form-bar"></span>
                <label class="float-label"
                    >Titulo de la publicación (Indica producto, marca, modelo y
                    características principales)</label
                >
                <small class="text-success float-right messages block"
                    >{{ data_simple.item.title.length }} / 60</small
                >
                <small
                    class="text-danger messages block"
                    *ngIf="
                        itemtitle.invalid &&
                        (itemtitle.dirty || itemtitle.touched) &&
                        itemtitle.errors?.required
                    "
                    >Campo requerido</small
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-primary">
                <input
                    type="text"
                    name="item-quantity"
                    class="form-control"
                    #itemquantity="ngModel"
                    [(ngModel)]="data_simple.item.quantity"
                    required
                />
                <span class="form-bar"></span>
                <label class="float-label">Cantidad</label>
                <small
                    class="text-danger messages block"
                    *ngIf="
                        itemquantity.invalid &&
                        (itemquantity.dirty || itemquantity.touched) &&
                        itemquantity.errors?.required
                    "
                    >Campo requerido</small
                >
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group form-primary">
                <input
                    type="text"
                    name="item-price"
                    class="form-control"
                    #itemprice="ngModel"
                    [(ngModel)]="data_simple.item.price"
                    required
                />
                <span class="form-bar"></span>
                <label class="float-label">Precio</label>
                <small
                    class="text-danger messages block"
                    *ngIf="
                        itemprice.invalid &&
                        (itemprice.dirty || itemprice.touched) &&
                        itemprice.errors?.required
                    "
                    >Campo requerido</small
                >
            </div>
        </div>
    </div>

    <ng-container *ngTemplateOutlet="modalitemcrm"></ng-container>
</ng-template>

<ng-template #linioTemplate>
    <h4>
        Las publicaciones de linio se crean de manera automática al importar las
        ventas
    </h4>
</ng-template>

<!-- Productos -->

<ng-template #modalitemcrm>
    <div class="modal-body table-responsive">
        <form class="md-float-material form-material m-t-10">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="sub-title" hidden>Empresa</h4>

                    <div class="row" hidden>
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <select
                                    name="item-company"
                                    #itemcompany="ngModel"
                                    class="form-control"
                                    [(ngModel)]="data_productos.company"
                                    (change)="onChangeCompany()"
                                    required
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ row.id }}"
                                        *ngFor="let row of companies"
                                    >
                                        {{ row.empresa }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Empresa</label>
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        itemcompany.invalid &&
                                        (itemcompany.dirty ||
                                            itemcompany.touched) &&
                                        itemcompany.errors?.required
                                    "
                                    >Campo requerido</small
                                >
                            </div>
                        </div>
                    </div>

                    <h4 class="sub-title">
                        Información interna para la publicación
                    </h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-primary">
                                <!--suppress JSUnusedGlobalSymbols -->
                                <select
                                    name="item-provider"
                                    #itemprovider="ngModel"
                                    class="form-control"
                                    [(ngModel)]="data_productos.provider"
                                >
                                    <option value="" disabled></option>
                                    <option
                                        value="{{ row.id }}"
                                        *ngFor="let row of btob_providers"
                                    >
                                        {{ row.razon_social }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Proveedor B2B (Dropshipping)</label
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4 class="sub-title">Almacenes</h4>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="item-principal-warehouse"
                                    #itemprincipalwarehouse="ngModel"
                                    class="form-control"
                                    [(ngModel)]="
                                        data_productos.principal_warehouse
                                    "
                                    required
                                >
                                    <option value="" disabled selected></option>
                                    <option
                                        value="{{ row.id }}"
                                        *ngFor="let row of warehouses"
                                    >
                                        {{ row.almacen }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Almacén Drop off</label
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        itemprincipalwarehouse.invalid &&
                                        (itemprincipalwarehouse.dirty ||
                                            itemprincipalwarehouse.touched) &&
                                        itemprincipalwarehouse.errors?.required
                                    "
                                    >Campo requerido</small
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-primary">
                                <select
                                    name="item-secondary-warehouse"
                                    #itemsecondarywarehouse="ngModel"
                                    class="form-control"
                                    [(ngModel)]="
                                        data_productos.secondary_warehouse
                                    "
                                    required
                                >
                                    <option value="" disabled selected></option>
                                    <option
                                        value="{{ row.id }}"
                                        *ngFor="let row of warehouses"
                                    >
                                        {{ row.almacen }}
                                    </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label"
                                    >Almacén Fulfillment</label
                                >
                                <small
                                    class="text-danger messages block"
                                    *ngIf="
                                        itemsecondarywarehouse.invalid &&
                                        (itemsecondarywarehouse.dirty ||
                                            itemsecondarywarehouse.touched) &&
                                        itemsecondarywarehouse.errors?.required
                                    "
                                    >Campo requerido</small
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="sub-title m-t-30">Productos</h4>

            <div class="row m-t-50">
                <div class="col-md-5" [hidden]="products.length">
                    <div class="form-group form-primary">
                        <input
                            type="text"
                            name="item-product-search"
                            class="form-control"
                            [(ngModel)]="product.search"
                            (keyup.enter)="searchProduct()"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label"
                            >Buscar producto (Código ó Descripción)</label
                        >
                    </div>
                </div>

                <div class="col-md-5" [hidden]="!products.length">
                    <div class="form-group form-primary">
                        <select
                            name="item-product-sku"
                            class="form-control"
                            [(ngModel)]="product.id"
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ row.id }}"
                                *ngFor="let row of products"
                            >
                                {{ row.sku + " | " + row.descripcion }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label"
                            >Selecciona un producto</label
                        >
                    </div>
                </div>

                <div class="col-md-1">
                    <button
                        type="button"
                        class="btn btn-outline-info btn-sm btn-block http-disabled"
                        (click)="searchProduct()"
                        placement="top"
                        ngbTooltip="Buscar producto"
                    >
                        <i class="fa fa-search fa-2x"></i>
                    </button>
                </div>

                <div class="col-md-1">
                    <div class="form-group form-primary">
                        <input
                            type="number"
                            name="item-product-quantity"
                            class="form-control"
                            [(ngModel)]="product.quantity"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Cantidad</label>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group form-primary">
                        <input
                            type="number"
                            name="item-product-percentage"
                            class="form-control"
                            [(ngModel)]="product.percentage"
                            placement="top"
                            ngbTooltip="Al importar una venta de esta publicación, el sistema buscará el % de cada producto para calcular su precio basado en el total de la venta"
                        />
                        <span class="form-bar"></span>
                        <label class="float-label">Porcentaje</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-primary">
                        <select
                            name="item-product-warranty"
                            class="form-control"
                            [(ngModel)]="product.warranty"
                        >
                            <option value="" disabled selected></option>
                            <option value="0">0 Días</option>
                            <option value="10">10 Días</option>
                            <option value="20">20 Días</option>
                            <option value="30">30 Días</option>
                            <option value="40">40 Días</option>
                            <option value="50">50 Días</option>
                            <option value="60">60 Días</option>
                            <option value="70">70 Días</option>
                            <option value="80">80 Días</option>
                            <option value="90">90 Días</option>
                            <option value="100">100 Días</option>
                            <option value="120">120 Días</option>
                            <option value="150">150 Días</option>
                            <option value="180">180 Días</option>
                            <option value="360">360 Días</option>
                            <option value="fabricante">Con Fabricante</option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Garantía</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-primary">
                        <select
                            name="pro_color"
                            class="form-control"
                            [(ngModel)]="product.variation"
                            [disabled]="!marketplace.variations?.length"
                        >
                            <option value="" disabled selected></option>
                            <option
                                value="{{ row.id }}"
                                *ngFor="let row of marketplace.variations"
                            >
                                {{ getVariationNameByID(row.id) }}
                            </option>
                        </select>
                        <span class="form-bar"></span>
                        <label class="float-label">Color</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <button
                        type="button"
                        class="btn btn-outline-info btn-sm btn-block m-b-20 http-disabled"
                        (click)="addProduct()"
                        placement="top"
                        ngbTooltip="Agregar producto"
                    >
                        <i class="fa fa-plus fa-2x"></i>
                    </button>
                </div>

                <div class="col-md-12 m-t-30 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Porcentaje</th>
                                <th>Garantía</th>
                                <th>Color</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let row of data_productos.products;
                                    let index = index
                                "
                            >
                                <td>{{ row.sku }}</td>
                                <td>{{ row.description }}</td>
                                <td>{{ row.quantity }}</td>
                                <td>{{ row.percentage }} %</td>
                                <td>{{ row.warranty }}</td>
                                <td>
                                    {{
                                        row.variation
                                            ? getVariationNameByID(
                                                  row.variation
                                              )
                                            : ""
                                    }}
                                </td>
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm"
                                        (click)="
                                            data_productos.products.splice(
                                                index,
                                                1
                                            )
                                        "
                                        placement="top"
                                        ngbTooltip="Borrar"
                                    >
                                        <i class="fa fa-trash fa-2x"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button
                        class="btn btn-outline-info btn-sm btn-block"
                        placement="top"
                        ngbTooltip="Crear publicación"
                        (click)="crearPublicacionSimple($event)"
                    >
                        <i class="fa fa-save fa-2x"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
